<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, width=device-width">
    
    <link rel="stylesheet" href="column.ba1b9842.css">
    <link rel="stylesheet" href="column.701506fc.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=M PLUS 1:wght@400;500;600;700&display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=M PLUS 1 Code:wght@700&display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap">
</head>
<body>
    <div class="column">
        <section class="licenses">
            <div class="license-info-parent">
                <div class="license-info">
                    <a class="license1">License</a>
                    <div class="words">Attribution-NoDerivs 2.0 Generic (CC BY-ND 2.0)</div>
                </div>
                <!--
                <img class="weblogo-icon" loading="lazy" alt src="weblogo.632eddb5.svg">
                -->
                <img  class="weblogo-icon" loading="lazy" alt="Badr Bank Logo" src="templates/Banque_de_l’agriculture_et_du_développement_rural.svg.png">

            </div>
            <div class="desc">
                <p class="share-copy">Share — copy and redistribute the material in any medium or format</p>
                <p class="for-any-purpose">for any purpose, even commercially.</p>
            </div>
            <div class="desc1">
                <p class="attribution-you-must-give-ap">
                    <span class="attribution-you">⚠ Attribution — You must give</span>
                    <span> </span>
                    <a class="appropriate-credit" href="https://creativecommons.org/licenses/by-nd/4.0/#" target="_blank">
                        <span>
                            <span class="appropriate-credit1">appropriate credit</span>
                        </span>
                    </a>
                    <span class="provide-a-link-to-the-license">, provide a link to the license, and </span>
                    <a class="indicate-if-changes-were-made" href="https://creativecommons.org/licenses/by-nd/4.0/#" target="_blank">
                        <span class="indicate-if-changes-were-made1">
                            <span class="indicate-if-changes">indicate if changes were made</span>
                        </span>
                    </a>
                    <span class="you-may-do-so-in-any-reasonabl">. You may do so in any reasonable manner, but not in any way that suggests the licensor endorses you or your use.</span>
                </p>
                <p class="no-derivatives-if-you-remix">
                    <span class="no-derivatives-if-you">No-derivatives — If you </span>
                    <span> </span>
                    <a class="remix-transform-or-build-upo" href="https://creativecommons.org/licenses/by-nd/4.0/#" target="_blank">
                        <span>
                            <span class="remix-transform-or">remix, transform, or build upon</span>
                        </span>
                    </a>
                    <span class="the-material-you"> the material, you may not distribute the modified material.</span>
                </p>
            </div>
            <div class="attribution">No warranties are given. The license may not give you all of the permissions necessary for your intended use.</div>
        </section>
        <section class="support">
            <h2 class="title">Follow me and get inspired!</h2>
            <div class="social1">
                <div class="item">
                    <img class="logo-icon" alt src="logo@2x.ca606387.png">
                    <div class="content">
                        <div class="dribbble">Dribbble</div>
                        <a class="itsrehanraihan" href="https://dribbble.com/itsrehanraihan" target="_blank">@badrbank</a>
                    </div>
                </div>
                <div class="item1">
                    <img class="logo-icon1" loading="lazy" alt src="logo-1@2x.fe0f2434.png">
                    <div class="content1">
                        <a class="twitter">Twitter</a>
                        <a class="itsrehanraihan1" href="https://twitter.com/itsrehanraihan" target="_blank">@itsrehanraihan</a>
                    </div>
                </div>
                <div class="item2">
                    <div class="frame9">
                        <img class="group-icon" loading="lazy" alt src="group.2fc71069.svg">
                    </div>
                    <div class="content2">
                        <div class="ui8-store">UI8 Store</div>
                        <a class="itsrehanraihan2" href="https://ui8.net/users/itsrehanraihan" target="_blank">@itsrehanraihan</a>
                    </div>
                </div>
            </div>
        </section>
        <section class="support1">
            <h2 class="title1">ChangeLog</h2>
            <div class="you-can-request-container">
                <span>You can request your desired icon and feedback to</span>
                <a class="rehanurraihangmailcom" href="mailto://badrbank@gmail.com" target="_blank">
                    <span class="rehanurraihangmailcom1">badrbank@gmail.com</span>
                </a>
                <span class="or-on-the"> or on the comment section.</span>
            </div>
            <div class="v100-initial-releases-container">
                <ul class="v100-initial-releases-2307">
                    <li class="v100">v1.0.0</li>
                    <li class="initial-releases">initial releases</li>
                    <li>23/07/2023</li>
                </ul>
            </div>
        </section>
    </div>
</body>
</html>
