<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="./global_.css" />
    <link rel="stylesheet" href="./credit-cards.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap"
    />
  </head>
  <body>
    <div class="credit-cards2">
      <div class="page-background"></div>
      <img
        class="service-1-icon2"
        loading="lazy"
        alt=""
        src="./public/service-1.svg"
      />

      <img
        class="settings-solid-12"
        loading="lazy"
        alt=""
        src="./public/settings-solid-1.svg"
      />

      <img
        class="credit-card-1-icon2"
        loading="lazy"
        alt=""
        src="./public/creditcard-11.svg"
      />

      <img
        class="economic-investment-1-icon2"
        loading="lazy"
        alt=""
        src="./public/economicinvestment-1.svg"
      />

      <img
        class="transfer-1-icon2"
        loading="lazy"
        alt=""
        src="./public/transfer-1.svg"
      />

      <img
        class="loan-1-icon2"
        loading="lazy"
        alt=""
        src="./public/loan-1.svg"
      />

      <div class="transactions3">Transactions</div>
      <a class="accounts4">Accounts</a>
      <div class="investments2">Investments</div>
      <div class="credit-cards3">Credit Cards</div>
      <div class="loans2">Loans</div>
      <a class="services4">Services</a>
      <div class="my-privileges2">My Privileges</div>
      <a class="setting2">Setting</a>
      <img
        class="user-3-12"
        loading="lazy"
        alt=""
        src="./public/user-3-11.svg"
      />

      <img
        class="econometrics-1-icon2"
        alt=""
        src="./public/econometrics-1.svg"
      />

      <img class="home-2-icon2" alt="" src="./public/home-2.svg" />

      <a class="dashboard3">Dashboard</a>
      <div class="credit-cards-child"></div>
      <div class="credit-cards-item"></div>
      <header class="header2">
        <div class="header-child2"></div>
        <div class="header-child3"></div>
        <img
          class="banque-de-lagriculture-et-du-icon2"
          loading="lazy"
          alt=""
          src="./public/banque-de-lagriculture-et-du-dveloppement-ruralsvg-1@2x.png"
        />

        <div class="bank-name-container">
          <a class="badr-bank2">Badr Bank</a>
        </div>
        <div class="page-title-container1">
          <div class="page-title-header-parent">
            <div class="page-title-header">
              <a class="credit-cards4">Credit Cards</a>
            </div>
            <div class="search-icon-container-parent">
              <div class="search-icon-container">
                <div class="rectangle-parent24">
                  <div class="frame-child43"></div>
                  <img
                    class="magnifying-glass-1-icon2"
                    alt=""
                    src="./public/magnifyingglass-1.svg"
                  />

                  <div class="search-placeholder-container">
                    <a class="search-for-something2">Search for something</a>
                  </div>
                </div>
              </div>
              <div class="search-input-container">
                <img
                  class="search-input-container-child"
                  loading="lazy"
                  alt=""
                  src="./public/group-4.svg"
                />
              </div>
              <div class="search-input-container1">
                <img
                  class="search-input-container-item"
                  loading="lazy"
                  alt=""
                  src="./public/group-3.svg"
                />
              </div>
              <img
                class="mask-group-icon2"
                loading="lazy"
                alt=""
                src="./public/mask-group@2x.png"
              />
            </div>
          </div>
        </div>
      </header>
      <main class="my-cards-heading">
        <div class="my-cards-heading-child"></div>
        <a class="my-cards">My Cards</a>
        <section class="card-list-container">
          <div class="rectangle-parent25">
            <div class="frame-child44"></div>
            <div class="card-list-first-row">
              <div class="card-list-second-row">
                <div class="card-list-third-row">
                  <div class="balance-parent">
                    <div class="balance2">Balance</div>
                    <b class="empty-row">$5,756</b>
                  </div>
                  <div class="card-holder-label">
                    <div class="card-holder2">CARD HOLDER</div>
                    <b class="eddy-cusuma1">Eddy Cusuma</b>
                  </div>
                </div>
                <div class="chip-card-parent">
                  <img
                    class="chip-card-icon1"
                    loading="lazy"
                    alt=""
                    src="./public/chip-card@2x.png"
                  />

                  <div class="card-validity-period">
                    <div class="card-validity-row">
                      <div class="valid-thru1">VALID THRU</div>
                      <b class="empty-validity">12/22</b>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="card-number-row">
              <div class="card-number-row-child"></div>
              <div class="balance-value-container">
                <b class="card-number-value">3778 **** **** 1234</b>
              </div>
              <img
                class="card-number-row-item"
                alt=""
                src="./public/group-17.svg"
              />
            </div>
          </div>
          <div class="rectangle-parent26">
            <div class="frame-child45"></div>
            <div class="frame-wrapper38">
              <div class="frame-parent12">
                <div class="frame-parent13">
                  <div class="balance-group">
                    <div class="balance3">Balance</div>
                    <b class="b">$5,756</b>
                  </div>
                  <div class="card-holder-parent">
                    <div class="card-holder3">CARD HOLDER</div>
                    <b class="eddy-cusuma2">Eddy Cusuma</b>
                  </div>
                </div>
                <div class="chip-card-group">
                  <img
                    class="chip-card-icon2"
                    alt=""
                    src="./public/chip-card@2x.png"
                  />

                  <div class="frame-wrapper39">
                    <div class="valid-thru-group">
                      <div class="valid-thru2">VALID THRU</div>
                      <b class="b1">12/22</b>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="rectangle-parent27">
              <div class="frame-child46"></div>
              <div class="wrapper">
                <b class="b2">3778 **** **** 1234</b>
              </div>
              <img class="frame-child47" alt="" src="./public/group-17.svg" />
            </div>
          </div>
          <div class="rectangle-parent28">
            <div class="frame-child48"></div>
            <div class="frame-wrapper40">
              <div class="frame-parent14">
                <div class="frame-parent15">
                  <div class="balance-container">
                    <div class="balance4">Balance</div>
                    <b class="b3">$5,756</b>
                  </div>
                  <div class="card-holder-group">
                    <div class="card-holder4">CARD HOLDER</div>
                    <b class="eddy-cusuma3">Eddy Cusuma</b>
                  </div>
                </div>
                <div class="chip-card-container">
                  <img
                    class="chip-card-icon3"
                    alt=""
                    src="./public/chip-card-2@2x.png"
                  />

                  <div class="frame-wrapper41">
                    <div class="valid-thru-container">
                      <div class="valid-thru3">VALID THRU</div>
                      <b class="b4">12/22</b>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="rectangle-parent29">
              <div class="frame-child49"></div>
              <div class="container">
                <b class="b5">3778 **** **** 1234</b>
              </div>
              <img class="frame-child50" alt="" src="./public/group-17-2.svg" />
            </div>
          </div>
        </section>
        <section class="card-statistics">
          <div class="card-statistics-title-containe">
            <h3 class="card-expense-statistics">Card Expense Statistics</h3>
            <div class="rectangle-parent30">
              <div class="frame-child51"></div>
              <div class="chart-container">
                <img
                  class="chart-container-child"
                  loading="lazy"
                  alt=""
                  src="./public/group-346.svg"
                />
              </div>
              <div class="bank-logo-row-parent">
                <div class="bank-logo-row">
                  <div class="first-bank-logo">
                    <div class="first-bank-icon-container">
                      <div class="first-bank-icon-container-child"></div>
                    </div>
                    <div class="dbl-bank">DBL Bank</div>
                  </div>
                  <div class="second-bank-logo">
                    <div class="second-bank-icon-container">
                      <div class="second-bank-icon-container-child"></div>
                    </div>
                    <div class="brc-bank">BRC Bank</div>
                  </div>
                </div>
                <div class="bank-logo-row1">
                  <div class="frame-parent16">
                    <div class="ellipse-wrapper">
                      <div class="ellipse-div"></div>
                    </div>
                    <div class="abm-bank">ABM Bank</div>
                  </div>
                  <div class="frame-parent17">
                    <div class="ellipse-container">
                      <div class="frame-child52"></div>
                    </div>
                    <div class="mcp-bank">MCP Bank</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="add-card-button-container">
              <h3 class="add-new-card">Add New Card</h3>
            </div>
          </div>
          <div class="card-list-parent">
            <h3 class="card-list">Card List</h3>
            <div class="frame-parent18">
              <div class="rectangle-parent31">
                <div class="frame-child53"></div>
                <div class="card-type-icon-container">
                  <div class="card-type-icon-container-child"></div>
                  <img
                    class="credit-card-1-icon3"
                    alt=""
                    src="./public/creditcard-1-1.svg"
                  />
                </div>
                <div class="card-details-row">
                  <div class="card-info-rows">
                    <div class="card-info-first-row">
                      <div class="card-bank-info">
                        <div class="card-type">Card Type</div>
                        <div class="bank">Bank</div>
                      </div>
                      <div class="card-number">Card Number</div>
                      <div class="namain-card-parent">
                        <div class="namain-card">Namain Card</div>
                        <div class="view-card-details-button">
                          <div class="view-details6">View Details</div>
                        </div>
                      </div>
                    </div>
                    <div class="card-bank-details">
                      <div class="secondary">Secondary</div>
                      <div class="dbl-bank1">DBL Bank</div>
                      <div class="card-number-placeholder">**** **** 5600</div>
                      <a class="william1">William </a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="rectangle-parent32">
                <div class="frame-child54"></div>
                <div class="rectangle-parent33">
                  <div class="frame-child55"></div>
                  <img
                    class="credit-card-1-icon4"
                    alt=""
                    src="./public/creditcard-1-2.svg"
                  />
                </div>
                <div class="frame-wrapper42">
                  <div class="frame-parent19">
                    <div class="frame-parent20">
                      <div class="card-type-parent">
                        <div class="card-type1">Card Type</div>
                        <div class="bank1">Bank</div>
                      </div>
                      <div class="card-number1">Card Number</div>
                      <div class="namain-card-group">
                        <div class="namain-card1">Namain Card</div>
                        <div class="view-details-wrapper">
                          <div class="view-details7">View Details</div>
                        </div>
                      </div>
                    </div>
                    <div class="secondary-parent">
                      <div class="secondary1">Secondary</div>
                      <div class="brc-bank1">BRC Bank</div>
                      <div class="div6">**** **** 4300</div>
                      <div class="michel">Michel</div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="rectangle-parent34">
                <div class="frame-child56"></div>
                <div class="rectangle-parent35">
                  <div class="frame-child57"></div>
                  <img
                    class="credit-card-1-icon5"
                    alt=""
                    src="./public/creditcard-1-3.svg"
                  />
                </div>
                <div class="frame-wrapper43">
                  <div class="frame-parent21">
                    <div class="frame-parent22">
                      <div class="card-type-group">
                        <div class="card-type2">Card Type</div>
                        <div class="bank2">Bank</div>
                      </div>
                      <div class="card-number2">Card Number</div>
                      <div class="namain-card-container">
                        <div class="namain-card2">Namain Card</div>
                        <div class="view-details-frame">
                          <div class="view-details8">View Details</div>
                        </div>
                      </div>
                    </div>
                    <div class="frame-parent23">
                      <div class="secondary-wrapper">
                        <div class="secondary2">Secondary</div>
                      </div>
                      <div class="abm-bank1">ABM Bank</div>
                      <div class="frame">
                        <div class="div7">**** **** 7560</div>
                      </div>
                      <div class="edward">Edward</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="settings">
              <h3 class="card-setting">Card Setting</h3>
            </div>
          </div>
        </section>
        <section class="frame-section">
          <div class="rectangle-parent36">
            <div class="frame-child58"></div>
            <div class="credit-card-generally">
              Credit Card generally means a plastic card issued by Scheduled
              Commercial Banks assigned to a Cardholder, with a credit limit,
              that can be used to purchase goods and services on credit or
              obtain cash advances.
            </div>
            <div class="credit-card-form">
              <div class="card-type-info">
                <div class="card-type-container">
                  <div class="card-type3">Card Type</div>
                  <div class="rectangle-parent37">
                    <div class="frame-child59"></div>
                    <input class="classic" placeholder="Classic" type="text" />
                  </div>
                </div>
                <div class="card-number-parent">
                  <div class="card-number3">Card Number</div>
                  <div class="rectangle-parent38">
                    <div class="frame-child60"></div>
                    <div class="div8">**** **** **** ****</div>
                  </div>
                </div>
                <button class="rectangle-parent39">
                  <div class="frame-child61"></div>
                  <div class="add-card">Add Card</div>
                </button>
              </div>
              <div class="name-expiration">
                <div class="name-on-card-parent">
                  <div class="name-on-card">Name On Card</div>
                  <div class="rectangle-parent40">
                    <div class="frame-child62"></div>
                    <input
                      class="my-cards1"
                      placeholder="My Cards"
                      type="text"
                    />
                  </div>
                </div>
                <div class="expiration-date-parent">
                  <div class="expiration-date">Expiration Date</div>
                  <div class="rectangle-parent41">
                    <div class="frame-child63"></div>
                    <div class="january-2025">25 January 2025</div>
                    <div class="calendar-icon">
                      <img
                        class="calendar-icon1"
                        alt=""
                        src="./public/calendar.svg"
                      />
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="rectangle-parent42">
            <div class="frame-child64"></div>
            <div class="action-buttons">
              <img
                class="action-buttons-child"
                loading="lazy"
                alt=""
                src="./public/group-165.svg"
              />

              <img
                class="action-buttons-item"
                loading="lazy"
                alt=""
                src="./public/group-166.svg"
              />

              <div class="rectangle-parent43">
                <div class="frame-child65"></div>
                <img
                  class="google-glass-logo-icon"
                  loading="lazy"
                  alt=""
                  src="./public/003googleglasslogo.svg"
                />
              </div>
              <div class="rectangle-parent44">
                <div class="frame-child66"></div>
                <img
                  class="apple-2-11"
                  loading="lazy"
                  alt=""
                  src="./public/apple-2-1.svg"
                />
              </div>
              <div class="rectangle-parent45">
                <div class="frame-child67"></div>
                <img class="apple-2-12" alt="" src="./public/apple-2-1.svg" />
              </div>
            </div>
            <div class="button-labels">
              <div class="action-buttons1">
                <div class="action-buttons2">
                  <div class="block-card">Block Card</div>
                  <div class="instantly-block-your">
                    Instantly block your card
                  </div>
                </div>
                <div class="action-buttons3">
                  <div class="change-pin-code">Change Pin Code</div>
                  <div class="choose-another-pin">Choose another pin code</div>
                </div>
                <div class="action-buttons4">
                  <div class="add-to-google">Add to Google Pay</div>
                  <div class="withdraw-without-any">
                    Withdraw without any card
                  </div>
                </div>
                <div class="action-buttons5">
                  <div class="add-to-apple">Add to Apple Pay</div>
                  <div class="withdraw-without-any1">
                    Withdraw without any card
                  </div>
                </div>
                <div class="action-buttons6">
                  <div class="add-to-apple1">Add to Apple Store</div>
                  <div class="withdraw-without-any2">
                    Withdraw without any card
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </main>
      <div class="page-background1"></div>
    </div>
  </body>
</html>
