<!DOCTYPE html>
<html>
  <head>

    <title>LogIn</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./global.css" />
    <link rel="stylesheet" href="./index.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap"
    />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">


    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Open Sans:wght@400;600;700&display=swap"
    />
  </head>
  <body>
    <div class="login">
      <img
        class="main-section-icon"
        alt=""
        src="compte-bancaire.jpg"
      />

      <section class="frame-parent">
        <header class="frame-wrapper">
          <div class="frame-group">
            <div class="charitfixpng-wrapper">
              <img
                class="charitfixpng-icon"
                loading="lazy"
                alt=""
                src="logo_badr_bank.png"
              />
            </div>
            <div class="side-content">
              <div class="navigation">
                <div class="home-link">
                  <a class="home">Home </a>
                  <div class="home-link-wrapper">
                    <img
                      class="link-icon"
                      loading="lazy"
                      alt=""
                      src="-link.svg"
                    />
                  </div>
                </div>
                <a class="about">About</a>
                <a class="donation">Donation</a>
                <a class="blog">Blog</a>
                <div class="pages-link">
                  <div class="pages-link-wrapper">
                    <a class="pages">Pages </a>
                    <div class="pages-button-wrapper">
                      <img
                        class="link-icon1"
                        alt=""
                        src="-link-1.svg"
                      />
                    </div>
                  </div>
                  <div class="link"></div>
                </div>
                <a class="contact">Contact</a>
              </div>
            </div>
            <div class="login-links">
              <img
                class="link-icon2"
                loading="lazy"
                alt=""
                src="link.svg"
              />

              <button class="link1">
                <a class="log-in">Log in</a>
              </button>
            </div>
          </div>
        </header>
        <div class="colors">
          <div class="colours"></div>
          <h1 class="colours1">login</h1>
        </div>
      </section>
      <section class="main-wrapper">
        <form class="main">
          <div class="link-logo-charitfixpng-wrapper">
            <img
              class="link-logo-charitfixpng"
              loading="lazy"
              alt=""
              src="logo_badr_bank_dark.png"
            />
          </div>
          <div class="email-field">
            <div class="form-label">Email</div>
            <div class="form-input">
              <input
                class="enter-your-email"
                placeholder="Enter Your Email"
                type="text"
              />
            </div>
          </div>
          <div class="password-field">
            <div class="password-wrapper">
              <div class="input-container">
                <div class="password-label-container">
                  <div class="form-label1">Password</div>
                </div>
                <div class="form-link">Forgot password?</div>
              </div>
              <div class="form-input1">
                <input
                  class="enter-password"
                  placeholder="Enter Password"
                  type="text"
                />
                <img class="form-icon" alt="" src="form.svg" />
              </div>
            </div>
            <button class="form-link1">
              <b class="login1">Login</b>
            </button>
          </div>
          <div class="registration">
            <div class="dont-have-an-account-registe-wrapper">
              <div class="dont-have-an-container">
                <span class="dont-have-an">Don’t have an account? </span>
                <span class="register">Register</span>
              </div>
            </div>
            <button class="link2">
              <img
                class="google-iconpng"
                alt=""
                src="googleiconpng@2x.png"
              />

              <div class="login-with-google-wrapper">
                <div class="login-with-google">login with Google</div>
              </div>
            </button>
          </div>
        </form>
      </section>
      <footer class="footer">
        <img class="before-icon" alt="" src="before@2x.png" />

        <div class="footer-content">
          <div class="dark-mode-parent">
            <div class="dark-mode">
              <img
                class="link-darkpng"
                loading="lazy"
                alt=""
                src="badr_logo.png"
              />
            </div>
            <div class="footer-navigation">
              <div class="footer-nav-links">
                <div class="nav-list">Home</div>
                <div class="nav-list1">Donation</div>
                <div class="nav-list2">About</div>
                <div class="nav-list3">Blog</div>
                <div class="nav-list4">Contact</div>
              </div>
            </div>
            <button class="list-item-link">
              <b class="donate">Donate</b>
            </button>
          </div>
          <div class="separator"></div>
        </div>
        <div class="footer-links">
          <div class="footer-headings">
            <b class="heading-4">Explore Links</b>
            <div class="footer-link-lists">
              <div class="list-item">About Company</div>
              <div class="list-item1">Latest Projects</div>
              <div class="list-item2">Latest Blog</div>
              <div class="list-item3">Our Testimonials</div>
              <div class="list-item4">Our Mission</div>
            </div>
          </div>
          <div class="footer-headings1">
            <b class="heading-41">Get Support</b>
            <div class="list-item-link-about-parent">
              <a class="list-item5">About</a>
              <div class="list-item6">How it Works</div>
              <div class="list-item7">Knowledge Hub</div>
              <div class="list-item8">Success Stories</div>
              <div class="list-item9">Contact</div>
            </div>
          </div>
          <div class="footer-contacts">
            <b class="heading-42">Get Support</b>
            <div class="contact-headings">
              <img
                class="list-item10"
                loading="lazy"
                alt=""
                src="list--item.svg"
              />

              <div class="contact-details">
                <div class="list-item11">contact@badr.dz</div>
              </div>
            </div>
            <div class="contact-headings1">
              <img class="list-item12" alt="" src="list--item-1.svg" />

              <div class="list-item-link-88-111-wrapper">
                <div class="list-item13">+231 (0)21989323 </div>
              </div>
            </div>
            <div class="contact-headings2">
              <img class="list-item14" alt="" src="list--item-2.svg" />

              <div class="list-item-link-tropical-wrapper">
                <div class="list-item15">المكتب الرئيسي: 17 ، شارع العقيد عميروش ، ص.ب 484 ، الجزائر العاصمة.
                </div>
              </div>
            </div>
          </div>
          <div class="heading-4-projects-parent">
            <b class="heading-43">Projects</b>
            <div class="projects">
              <div class="project-list">
                <div class="list-item-link-project-1-wrapper">
                  <img
                    class="list-item-link-project-1"
                    loading="lazy"
                    alt=""
                    src="businessman-badr.jpg"
                  />
                </div>
                <div class="list-item-12oct2023-parent">
                  <div class="list-item16">12.Oct.2023</div>
                  <b class="list-item-container">
                    <p class="best-charity-marketing">
                      <a href="https://badrbank.dz/demande-de-credit-particulier/">Demande de credit Particulier</a>
                    </p>
                    <p class="champions"><a href="https://badrbank.dz/demande-de-credit-entreprise/">Entreprise</a></p>
                  </b>
                </div>
              </div>
              <div class="list-item-link-project-2-parent">
                <img
                  class="list-item-link-project-2"
                  loading="lazy"
                  alt=""
                  src="finance-islamique-badr.jpg"
                />

                <div class="list-item-20oct2023-parent">
                  <div class="list-item17">20.Oct.2023</div>
                  <b class="list-item-container1">
                    <p class="charity-starts-from">
                      <a href="https://badrbank.dz/finance_islamique_fr/">La finance islamique</a>
                    </p>
                    <p class="cant-even-help"><a href="https://badrbank.dz/finance_islamique_fr/%d9%84%d8%aa%d9%83%d9%86-%d8%b2%d8%a8%d9%88%d9%86/">devenir client</a></p>
                  </b>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="footer-copyright">
          <div class="separator1"></div>
          <div class="copyright-info">
            <div class="copyright-2023-inittheme-al-wrapper">
              <div class="copyright-2023">
                Copyright © 2023 BADR BANK by Digital Ways.
              </div>
            </div>
            <div class="social-links">
              <img
                class="list-item-link1"
                loading="lazy"
                alt=""
                src="list--item--link.svg"
              />

              <img
                class="list-item-link2"
                alt=""
                src="list--item--link-1.svg"
              />

              <img
                class="list-item-link3"
                alt=""
                src="list--item--link-2.svg"
              />

              <img
                class="list-item-link4"
                alt=""
                src="list--item--link-3.svg"
              />
            </div>
          </div>
        </div>
      </footer>
    </div>
  </body>
</html>
