<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="./global_.css" />
    <link rel="stylesheet" href="./index.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap"
    />
  </head>
  <body>
    <div class="accounts1">
      <div class="accounts-child"></div>
      <div class="accounts-item"></div>
      <div class="header1">
        <div class="header-child1"></div>
        <div class="bank-logo">
          <img
            class="banque-de-lagriculture-et-du-icon1"
            loading="lazy"
            alt=""
            src="./public/banque-de-lagriculture-et-du-dveloppement-ruralsvg-1@2x.png"
          />

          <div class="bank-name">
            <a class="badr-bank1">Badr Bank</a>
          </div>
        </div>
        <header class="page-content">
          <div class="title">
            <a class="accounts2">Accounts</a>
          </div>
          <div class="navigation">
            <div class="search">
              <div class="rectangle-parent13">
                <div class="frame-child26"></div>
                <img
                  class="magnifying-glass-1-icon1"
                  alt=""
                  src="./public/magnifyingglass-1.svg"
                />

                <div class="search-label">
                  <a class="search-for-something1">Search for something</a>
                </div>
              </div>
            </div>
            <div class="actions">
              <img
                class="actions-child"
                loading="lazy"
                alt=""
                src="./public/group-4.svg"
              />
            </div>
            <div class="actions1">
              <img
                class="actions-item"
                loading="lazy"
                alt=""
                src="./public/group-3.svg"
              />
            </div>
            <img
              class="mask-group-icon1"
              loading="lazy"
              alt=""
              src="./public/mask-group@2x.png"
            />
          </div>
        </header>
      </div>
      <main class="content">
        <div class="page-layout">
          <div class="page-layout-child"></div>
          <div class="sidebar">
            <div class="sidebar-background"></div>
          </div>
          <div class="menu">
            <div class="menu-items">
              <img
                class="home-2-icon1"
                loading="lazy"
                alt=""
                src="./public/home-2.svg"
              />

              <img
                class="transfer-1-icon1"
                loading="lazy"
                alt=""
                src="./public/transfer-1.svg"
              />

              <img
                class="user-3-11"
                loading="lazy"
                alt=""
                src="./public/user-3-1.svg"
              />

              <img
                class="economic-investment-1-icon1"
                loading="lazy"
                alt=""
                src="./public/economicinvestment-1.svg"
              />

              <img
                class="credit-card-1-icon1"
                loading="lazy"
                alt=""
                src="./public/creditcard-1.svg"
              />

              <div class="menu-icons">
                <img
                  class="loan-1-icon1"
                  loading="lazy"
                  alt=""
                  src="./public/loan-1.svg"
                />
              </div>
              <div class="menu-icons1">
                <img
                  class="service-1-icon1"
                  loading="lazy"
                  alt=""
                  src="./public/service-1.svg"
                />
              </div>
              <div class="menu-icons2">
                <img
                  class="econometrics-1-icon1"
                  loading="lazy"
                  alt=""
                  src="./public/econometrics-1.svg"
                />
              </div>
              <div class="menu-icons3">
                <img
                  class="settings-solid-11"
                  loading="lazy"
                  alt=""
                  src="./public/settings-solid-1.svg"
                />
              </div>
            </div>
            <div class="page-title-container">
              <div class="page-titles">
                <a class="dashboard1">Dashboard</a>
                <div class="transactions1">Transactions</div>
                <div class="accounts3">Accounts</div>
                <div class="investments1">Investments</div>
                <div class="credit-cards1">Credit Cards</div>
                <div class="loans1">Loans</div>
                <div class="services3">Services</div>
                <div class="my-privileges1">My Privileges</div>
                <div class="setting1">Setting</div>
              </div>
            </div>
          </div>
          <div class="content-background"></div>
        </div>
        <section class="dashboard2">
          <div class="summary">
            <div class="summary-child"></div>
            <div class="balance">
              <div class="balance-details">
                <div class="rectangle-parent14">
                  <div class="frame-child27"></div>
                  <img
                    class="frame-child28"
                    alt=""
                    src="./public/group-494.svg"
                  />

                  <div class="balance-labels">
                    <div class="balance-names">
                      <div class="my-balance">My Balance</div>
                      <div class="values">$12,750</div>
                    </div>
                  </div>
                </div>
                <div class="rectangle-parent15">
                  <div class="frame-child29"></div>
                  <img
                    class="frame-child30"
                    alt=""
                    src="./public/group-400.svg"
                  />

                  <div class="frame-wrapper34">
                    <div class="income-parent">
                      <a class="income">Income</a>
                      <div class="div">$5,600</div>
                    </div>
                  </div>
                </div>
                <div class="rectangle-parent16">
                  <div class="frame-child31"></div>
                  <img
                    class="frame-child32"
                    alt=""
                    src="./public/group-402.svg"
                  />

                  <div class="frame-wrapper35">
                    <div class="expense-parent">
                      <a class="expense">Expense</a>
                      <div class="div1">$3,460</div>
                    </div>
                  </div>
                </div>
                <div class="rectangle-parent17">
                  <div class="frame-child33"></div>
                  <img
                    class="frame-child34"
                    alt=""
                    src="./public/group-401.svg"
                  />

                  <div class="frame-wrapper36">
                    <div class="total-saving-parent">
                      <div class="total-saving">Total Saving</div>
                      <div class="div2">$7,920</div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="transactions2">
                <h3 class="last-transaction">Last Transaction</h3>
                <div class="card">
                  <h3 class="my-card">My Card</h3>
                  <div class="card-link">
                    <a class="see-all">See All</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="transaction-history">
              <div class="history">
                <div class="rectangle-parent18">
                  <div class="frame-child35"></div>
                  <div class="history-item">
                    <img
                      class="history-item-child"
                      loading="lazy"
                      alt=""
                      src="./public/group-328.svg"
                    />

                    <div class="history-transaction-details">
                      <div class="transaction-details-items">
                        <div class="transaction-items">
                          <div class="spotify-subscription">
                            Spotify Subscription
                          </div>
                          <div class="jan-2021">25 Jan 2021</div>
                        </div>
                        <div class="history-transaction-name">
                          <a class="shopping1">Shopping</a>
                        </div>
                        <div class="history-transaction-status">
                          <div class="status">1234 ****</div>
                        </div>
                      </div>
                    </div>
                    <div class="history-status">
                      <a class="pending">Pending</a>
                    </div>
                    <div class="history-separator-two">
                      <div class="separator">-$150</div>
                    </div>
                  </div>
                  <div class="history-item1">
                    <div class="frame-parent8">
                      <img
                        class="frame-child36"
                        loading="lazy"
                        alt=""
                        src="./public/group-327.svg"
                      />

                      <div class="history-transaction">
                        <div class="transaction-details">
                          <div class="mobile-service">Mobile Service</div>
                          <div class="jan-20211">25 Jan 2021</div>
                        </div>
                      </div>
                    </div>
                    <div class="history-item-inner">
                      <div class="frame-parent9">
                        <div class="service-wrapper">
                          <a class="service">Service</a>
                        </div>
                        <div class="div3">1234 ****</div>
                        <a class="completed">Completed</a>
                        <div class="history-separator">-$340</div>
                      </div>
                    </div>
                  </div>
                  <div class="history-item2">
                    <div class="frame-parent10">
                      <div class="rectangle-parent19">
                        <div class="frame-child37"></div>
                        <img
                          class="user2-1-icon"
                          loading="lazy"
                          alt=""
                          src="./public/user2-1.svg"
                        />
                      </div>
                      <div class="frame-wrapper37">
                        <div class="emilly-wilson-parent">
                          <div class="emilly-wilson">Emilly Wilson</div>
                          <div class="jan-20212">25 Jan 2021</div>
                        </div>
                      </div>
                    </div>
                    <div class="history-item-inner1">
                      <div class="frame-parent11">
                        <div class="transfer-wrapper">
                          <div class="transfer">Transfer</div>
                        </div>
                        <div class="div4">1234 ****</div>
                        <div class="completed1">Completed</div>
                        <div class="div5">+$780</div>
                      </div>
                    </div>
                  </div>
                </div>
                <h3 class="debit-credit">Debit & Credit Overview</h3>
                <div class="rectangle-parent20">
                  <div class="frame-child38"></div>
                  <div class="chart-title">
                    <div class="debited-5420-container">
                      <span>$7,560</span>
                      <span class="debited"> Debited & </span>
                      <span>$5,420</span>
                      <span class="credited-in-this">
                        Credited in this Week</span
                      >
                    </div>
                    <div class="chart-bars">
                      <div class="chart-value">
                        <div class="chart-bar">
                          <div class="bar"></div>
                        </div>
                        <div class="debit">Debit</div>
                      </div>
                      <div class="chart-value1">
                        <div class="chart-value-inner">
                          <div class="frame-child39"></div>
                        </div>
                        <a class="credit">Credit</a>
                      </div>
                    </div>
                  </div>
                  <div class="chart-details">
                    <div class="chart-days">
                      <div class="day"></div>
                      <div class="chart-values"></div>
                    </div>
                    <div class="chart-days1">
                      <div class="chart-days-child"></div>
                      <div class="chart-days-item"></div>
                    </div>
                    <div class="chart-days2">
                      <div class="chart-days-inner"></div>
                      <div class="chart-days-child1"></div>
                    </div>
                    <div class="chart-days3">
                      <div class="chart-days-child2"></div>
                      <div class="chart-days-child3"></div>
                    </div>
                    <div class="chart-days4">
                      <div class="chart-days-child4"></div>
                      <div class="chart-days-child5"></div>
                    </div>
                    <div class="chart-days5">
                      <div class="chart-days-child6"></div>
                      <div class="chart-days-child7"></div>
                    </div>
                    <div class="chart-days6">
                      <div class="chart-days-child8"></div>
                      <div class="chart-days-child9"></div>
                    </div>
                  </div>
                  <div class="chart-labels">
                    <div class="labels">
                      <div class="days">
                        <div class="sat">Sat</div>
                      </div>
                      <div class="sun">Sun</div>
                      <div class="mon">Mon</div>
                      <div class="tue">Tue</div>
                      <div class="wed">Wed</div>
                      <div class="days1">
                        <div class="thu">Thu</div>
                      </div>
                      <div class="fri">Fri</div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card-details">
                <div class="rectangle-parent21">
                  <div class="frame-child40"></div>
                  <div class="card-balance">
                    <div class="balance-info">
                      <div class="balance-details-two">
                        <div class="balance-value">
                          <div class="balance1">Balance</div>
                          <b class="amount">$5,756</b>
                        </div>
                        <div class="card-holder">
                          <div class="card-holder1">CARD HOLDER</div>
                          <b class="eddy-cusuma">Eddy Cusuma</b>
                        </div>
                      </div>
                      <div class="card-image">
                        <img
                          class="chip-card-icon"
                          loading="lazy"
                          alt=""
                          src="./public/chip-card@2x.png"
                        />

                        <div class="validity">
                          <div class="valid-thru-parent">
                            <div class="valid-thru">VALID THRU</div>
                            <b class="valid-date">12/22</b>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="balance-info1">
                    <div class="balance-info-child"></div>
                    <div class="balance-amount">
                      <b class="balance-value1">3778 **** **** 1234</b>
                    </div>
                    <img
                      class="balance-info-item"
                      alt=""
                      src="./public/group-17.svg"
                    />
                  </div>
                </div>
                <h3 class="invoices-sent">Invoices Sent</h3>
                <div class="rectangle-parent22">
                  <div class="frame-child41"></div>
                  <div class="invoice-items">
                    <div class="invoice-icons">
                      <div class="rectangle-parent23">
                        <div class="frame-child42"></div>
                        <img
                          class="apple-2-1"
                          loading="lazy"
                          alt=""
                          src="./public/apple-2-1.svg"
                        />
                      </div>
                      <div class="invoice-logos">
                        <div class="invoice-logos-child"></div>
                        <img
                          class="user2-1-icon1"
                          loading="lazy"
                          alt=""
                          src="./public/user2-1-1.svg"
                        />
                      </div>
                      <div class="invoice-logos1">
                        <div class="invoice-logos-item"></div>
                        <img
                          class="playstation-1-icon"
                          loading="lazy"
                          alt=""
                          src="./public/playstation-1.svg"
                        />
                      </div>
                      <div class="invoice-logos2">
                        <div class="invoice-logos-inner"></div>
                        <img
                          class="vector-icon"
                          loading="lazy"
                          alt=""
                          src="./public/user2-1.svg"
                        />
                      </div>
                    </div>
                    <div class="invoice-details">
                      <div class="invoice-transactions">
                        <div class="transaction-details1">
                          <div class="apple-store">Apple Store</div>
                          <div class="h-ago">5h ago</div>
                        </div>
                        <div class="transaction-details2">
                          <div class="michael">Michael</div>
                          <div class="days-ago">2 days ago</div>
                        </div>
                        <div class="transaction-details3">
                          <div class="playstation">Playstation</div>
                          <div class="days-ago1">5 days ago</div>
                        </div>
                        <div class="transaction-details4">
                          <div class="william">William</div>
                          <div class="days-ago2">10 days ago</div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="view-more">
                    <div class="empty-invoices">
                      <div class="no-invoices">$450</div>
                      <div class="no-invoices1">$160</div>
                      <div class="no-invoices2">$1085</div>
                      <div class="no-invoices3">$90</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </main>
    </div>
  </body>
</html>
