.accounts-child,
.accounts-item,
.header-child1 {
  width: 350px;
  height: 1px;
  position: relative;
  display: none;
  max-width: 100%;
}
.accounts-item,
.header-child1 {
  width: 1190px;
  background-color: var(--color-aliceblue-300);
}
.header-child1 {
  height: 100px;
  width: 1440px;
  background-color: var(--color-darkgreen-100);
}
.banque-de-lagriculture-et-du-icon1 {
  height: 64px;
  width: 63px;
  position: relative;
  object-fit: cover;
  z-index: 1;
}
.badr-bank1 {
  text-decoration: none;
  align-self: stretch;
  position: relative;
  font-weight: 500;
  color: inherit;
  white-space: nowrap;
  z-index: 3;
}
.bank-logo,
.bank-name {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.bank-name {
  flex: 1;
  flex-direction: column;
  padding: var(--padding-xs) 0 0;
}
.bank-logo {
  width: 213px;
  flex-direction: row;
  gap: var(--gap-2xs);
}
.accounts2 {
  text-decoration: none;
  position: relative;
  font-weight: 600;
  color: inherit;
  white-space: nowrap;
  z-index: 1;
}
.title {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-smi) 0 0;
}
.frame-child26 {
  height: 50px;
  width: 255px;
  position: relative;
  border-radius: var(--br-21xl);
  background-color: var(--color-whitesmoke-100);
  display: none;
}
.magnifying-glass-1-icon1 {
  height: 20px;
  width: 20px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 20px;
  z-index: 1;
}
.search-for-something1 {
  text-decoration: none;
  position: relative;
  color: inherit;
  white-space: nowrap;
  z-index: 1;
}
.search-label {
  flex-direction: column;
  padding: var(--padding-12xs) 0 0;
}
.rectangle-parent13,
.search,
.search-label {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.rectangle-parent13 {
  align-self: stretch;
  border-radius: var(--br-21xl);
  background-color: var(--color-whitesmoke-100);
  flex-direction: row;
  padding: var(--padding-mini) var(--padding-6xl);
  gap: var(--gap-mini);
  z-index: 1;
}
.search {
  flex: 1;
  flex-direction: column;
  padding: var(--padding-8xs) 0 0;
}
.actions-child {
  width: 50px;
  height: 50px;
  position: relative;
  z-index: 1;
}
.actions {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-8xs) 0 0;
}
.actions-item {
  width: 50px;
  height: 50px;
  position: relative;
  z-index: 1;
}
.actions1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-8xs) var(--padding-8xs) 0 0;
}
.mask-group-icon1 {
  height: 60px;
  width: 60px;
  position: relative;
  object-fit: cover;
  z-index: 1;
}
.navigation {
  width: 510px;
  justify-content: flex-start;
  gap: var(--gap-11xl);
  font-size: var(--button-2-medium-15p-size);
  color: var(--color-lightsteelblue);
}
.header1,
.navigation,
.page-content {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  max-width: 100%;
}
.page-content {
  width: 1110px;
  justify-content: space-between;
  gap: var(--gap-xl);
  text-align: left;
  font-size: var(--heading-one-semibold-28p-size);
  color: var(--primary-2);
  font-family: var(--heading-four-semibold-20p);
}
.header1 {
  align-self: stretch;
  background-color: var(--color-darkgreen-100);
  justify-content: flex-start;
  padding: var(--padding-xl) var(--padding-lgi) var(--padding-base);
  box-sizing: border-box;
  gap: 58px;
  top: 0;
  z-index: 99;
  position: sticky;
}
.page-layout-child {
  height: 924px;
  width: 250px;
  position: relative;
  background: linear-gradient(
    180deg,
    #146d1d 12%,
    #146d1d 60%,
    #1da02a 80%,
    #26d338
  );
  display: none;
  z-index: 0;
}
.sidebar-background {
  width: 6px;
  flex: 1;
  position: relative;
  border-radius: 0 var(--br-3xs) var(--br-3xs) 0;
  background-color: var(--color-blue-200);
  z-index: 1;
}
.sidebar {
  height: 172px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 112px 0 0;
  box-sizing: border-box;
}
.credit-card-1-icon1,
.economic-investment-1-icon1,
.home-2-icon1,
.loan-1-icon1,
.transfer-1-icon1,
.user-3-11 {
  width: 25px;
  height: 25px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 1;
}
.credit-card-1-icon1,
.loan-1-icon1 {
  width: 26px;
  height: 26px;
}
.loan-1-icon1 {
  height: 25px;
  width: 25px;
}
.menu-icons {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 var(--padding-12xs) 0 var(--padding-11xs);
}
.service-1-icon1 {
  height: 25px;
  width: 25px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 1;
}
.menu-icons1 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 var(--padding-12xs) 0 var(--padding-11xs);
}
.econometrics-1-icon1 {
  height: 25px;
  width: 25px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 1;
}
.menu-icons2 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 var(--padding-12xs) 0 var(--padding-11xs);
}
.settings-solid-11 {
  height: 25px;
  width: 25px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 1;
}
.menu-icons3 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 var(--padding-10xs) 0 0;
}
.menu-items {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-19xl-9);
}
.accounts3,
.dashboard1,
.transactions1 {
  position: relative;
  font-weight: 500;
  display: inline-block;
  z-index: 1;
}
.dashboard1 {
  text-decoration: none;
  color: inherit;
  min-width: 94px;
}
.accounts3,
.transactions1 {
  min-width: 112px;
}
.accounts3 {
  color: var(--color-blue-200);
  min-width: 82px;
}
.credit-cards1,
.investments1,
.loans1,
.my-privileges1,
.services3,
.setting1 {
  position: relative;
  font-weight: 500;
  display: inline-block;
  min-width: 106px;
  z-index: 1;
}
.credit-cards1,
.loans1,
.my-privileges1,
.services3,
.setting1 {
  min-width: 109px;
}
.loans1,
.my-privileges1,
.services3,
.setting1 {
  min-width: 52px;
}
.my-privileges1,
.services3,
.setting1 {
  min-width: 75px;
}
.my-privileges1,
.setting1 {
  min-width: 116px;
}
.setting1 {
  min-width: 62px;
}
.page-title-container,
.page-titles {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.page-titles {
  align-self: stretch;
  justify-content: flex-start;
  gap: var(--gap-23xl);
}
.page-title-container {
  flex: 1;
  justify-content: flex-end;
  padding: 0 0 var(--padding-12xs);
}
.menu {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-7xl);
}
.content-background {
  height: 1062px;
  width: 1px;
  position: absolute;
  margin: 0 !important;
  top: -100px;
  right: 0;
  background-color: var(--color-aliceblue-300);
  z-index: 3;
}
.page-layout,
.summary-child {
  position: relative;
  box-sizing: border-box;
}
.page-layout {
  width: 250px;
  background: linear-gradient(
    180deg,
    #146d1d 12%,
    #146d1d 60%,
    #1da02a 80%,
    #26d338
  );
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-12xl) var(--padding-20xl) var(--padding-337xl) 0;
  gap: var(--gap-16xl);
}
.summary-child {
  align-self: stretch;
  height: 926px;
  background-color: var(--color-darkgreen-200);
  border-top: 1px solid var(--color-gainsboro-200);
  border-right: 350px solid var(--color-gainsboro-200);
  border-bottom: 1px solid var(--color-gainsboro-200);
  border-left: 1px solid var(--color-gainsboro-200);
  display: none;
}
.frame-child27 {
  height: 120px;
  width: 255px;
  position: relative;
  border-radius: var(--br-6xl);
  background-color: var(--color-white);
  display: none;
}
.frame-child28 {
  height: 70px;
  width: 70px;
  position: relative;
  z-index: 1;
}
.my-balance,
.values {
  position: relative;
  display: inline-block;
  min-width: 88px;
  z-index: 1;
}
.values {
  font-size: var(--font-size-6xl);
  font-weight: 600;
  color: var(--color-gray-100);
  min-width: 98px;
  white-space: nowrap;
}
.balance-labels,
.balance-names {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.balance-names {
  align-self: stretch;
  gap: var(--gap-6xs);
}
.balance-labels {
  flex: 1;
  padding: var(--padding-6xs) 0 0;
}
.frame-child29,
.rectangle-parent14 {
  border-radius: var(--br-6xl);
  background-color: var(--color-white);
}
.rectangle-parent14 {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-6xl) var(--padding-17xl);
  box-sizing: border-box;
  gap: var(--gap-mini);
  min-width: 168px;
  max-width: 255px;
  z-index: 3;
}
.frame-child29 {
  height: 120px;
  width: 255px;
  position: relative;
  display: none;
}
.frame-child30 {
  height: 70px;
  width: 70px;
  position: relative;
  z-index: 1;
}
.div,
.income {
  position: relative;
  display: inline-block;
  z-index: 1;
}
.income {
  text-decoration: none;
  color: inherit;
  min-width: 56px;
}
.div {
  font-size: var(--font-size-6xl);
  font-weight: 600;
  color: var(--color-gray-100);
  min-width: 88px;
  white-space: nowrap;
}
.frame-wrapper34,
.income-parent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.income-parent {
  align-self: stretch;
  gap: var(--gap-6xs);
}
.frame-wrapper34 {
  flex: 1;
  padding: var(--padding-6xs) 0 0;
}
.frame-child31,
.rectangle-parent15 {
  border-radius: var(--br-6xl);
  background-color: var(--color-white);
}
.rectangle-parent15 {
  flex: 0.9454;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-6xl) var(--padding-22xl);
  box-sizing: border-box;
  gap: var(--gap-mini);
  min-width: 168px;
  max-width: 255px;
  z-index: 3;
}
.frame-child31 {
  height: 120px;
  width: 255px;
  position: relative;
  display: none;
}
.frame-child32 {
  height: 70px;
  width: 70px;
  position: relative;
  z-index: 1;
}
.div1,
.expense {
  position: relative;
  display: inline-block;
  z-index: 1;
}
.expense {
  text-decoration: none;
  color: inherit;
  min-width: 65px;
}
.div1 {
  font-size: var(--font-size-6xl);
  font-weight: 600;
  color: var(--color-gray-100);
  min-width: 89px;
  white-space: nowrap;
}
.expense-parent,
.frame-wrapper35 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.expense-parent {
  align-self: stretch;
  gap: var(--gap-6xs);
}
.frame-wrapper35 {
  flex: 1;
  padding: var(--padding-6xs) 0 0;
}
.frame-child33,
.rectangle-parent16 {
  border-radius: var(--br-6xl);
  background-color: var(--color-white);
}
.rectangle-parent16 {
  flex: 0.9508;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-6xl) var(--padding-21xl) var(--padding-6xl)
    var(--padding-22xl);
  box-sizing: border-box;
  gap: var(--gap-mini);
  min-width: 168px;
  max-width: 255px;
  z-index: 3;
}
.frame-child33 {
  height: 120px;
  width: 255px;
  position: relative;
  display: none;
}
.frame-child34 {
  height: 70px;
  width: 70px;
  position: relative;
  z-index: 1;
}
.div2,
.total-saving {
  position: relative;
  display: inline-block;
  min-width: 93px;
  z-index: 1;
}
.div2 {
  font-size: var(--font-size-6xl);
  font-weight: 600;
  color: var(--color-gray-100);
  min-width: 84px;
  white-space: nowrap;
}
.frame-wrapper36,
.total-saving-parent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.total-saving-parent {
  align-self: stretch;
  gap: var(--gap-6xs);
}
.frame-wrapper36 {
  flex: 1;
  padding: var(--padding-6xs) 0 0;
}
.balance-details,
.rectangle-parent17 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.rectangle-parent17 {
  flex: 0.9727;
  border-radius: var(--br-6xl);
  background-color: var(--color-white);
  justify-content: flex-start;
  padding: var(--padding-6xl) var(--padding-19xl) var(--padding-6xl)
    var(--padding-20xl);
  box-sizing: border-box;
  gap: var(--gap-mini);
  min-width: 168px;
  max-width: 255px;
  z-index: 3;
}
.balance-details {
  align-self: stretch;
  justify-content: center;
  gap: var(--gap-11xl);
}
.last-transaction,
.my-card,
.see-all {
  position: relative;
  font-weight: 600;
  z-index: 3;
}
.last-transaction {
  margin: 0;
  font-size: inherit;
  font-family: inherit;
}
.my-card,
.see-all {
  display: inline-block;
}
.my-card {
  margin: 0;
  font-size: inherit;
  font-family: inherit;
  min-width: 90px;
}
.see-all {
  text-decoration: none;
  color: inherit;
  min-width: 57px;
}
.card,
.card-link {
  justify-content: flex-start;
}
.card-link {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: var(--padding-8xs) 0 0;
  text-align: right;
  font-size: var(--font-size-mid);
  color: var(--primary-2);
}
.card {
  flex-direction: row;
  gap: 203px;
  max-width: 100%;
}
.balance,
.card,
.transactions2 {
  display: flex;
  align-items: flex-start;
}
.transactions2 {
  align-self: stretch;
  flex-direction: row;
  justify-content: space-between;
  max-width: 100%;
  gap: var(--gap-xl);
  font-size: var(--heading-two-semibold-22p-size);
  color: var(--color-white);
}
.balance {
  width: 1110px;
  flex-direction: column;
  justify-content: flex-start;
  gap: 23px;
  max-width: 133%;
  flex-shrink: 0;
}
.frame-child35 {
  width: 730px;
  height: 235px;
  position: relative;
  border-radius: var(--br-6xl);
  background-color: var(--color-white);
  display: none;
  max-width: 100%;
}
.history-item-child {
  height: 55px;
  width: 55px;
  position: relative;
  z-index: 1;
}
.spotify-subscription {
  position: relative;
  font-weight: 500;
  z-index: 1;
}
.jan-2021 {
  position: relative;
  font-size: var(--button-2-medium-15p-size);
  color: var(--color-steelblue);
  display: inline-block;
  min-width: 87px;
  z-index: 1;
}
.transaction-items {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-6xs);
  color: var(--color-gray-100);
}
.shopping1 {
  text-decoration: none;
  position: relative;
  color: inherit;
  display: inline-block;
  min-width: 72px;
  z-index: 1;
}
.history-transaction-name {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-smi) var(--padding-xs) 0 0;
}
.status {
  position: relative;
  display: inline-block;
  min-width: 75px;
  z-index: 1;
}
.history-transaction-status {
  flex-direction: column;
  padding: var(--padding-smi) 0 0;
}
.history-transaction-details,
.history-transaction-status,
.transaction-details-items {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.transaction-details-items {
  align-self: stretch;
  flex-direction: row;
  gap: var(--gap-12xl);
}
.history-transaction-details {
  flex: 1;
  flex-direction: column;
  padding: var(--padding-8xs) var(--padding-xl) 0 0;
  box-sizing: border-box;
  min-width: 258px;
  max-width: 100%;
}
.pending {
  text-decoration: none;
  position: relative;
  color: inherit;
  display: inline-block;
  min-width: 62px;
  z-index: 1;
}
.history-status {
  width: 107px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-lg) var(--padding-xl) 0 0;
  box-sizing: border-box;
}
.separator {
  position: relative;
  font-weight: 500;
  display: inline-block;
  min-width: 46px;
  z-index: 1;
}
.history-item,
.history-separator-two {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.history-separator-two {
  flex-direction: column;
  padding: var(--padding-lg) 0 0;
  text-align: right;
  color: var(--color-indianred);
}
.history-item {
  align-self: stretch;
  flex-direction: row;
  gap: var(--gap-6xl);
  max-width: 100%;
  color: var(--color-steelblue);
}
.frame-child36 {
  height: 55px;
  width: 55px;
  position: relative;
  z-index: 1;
}
.jan-20211,
.mobile-service {
  position: relative;
  display: inline-block;
  z-index: 1;
}
.mobile-service {
  font-weight: 500;
  min-width: 114px;
}
.jan-20211 {
  font-size: var(--button-2-medium-15p-size);
  color: var(--color-steelblue);
  min-width: 87px;
}
.transaction-details {
  flex-direction: column;
  gap: var(--gap-6xs);
}
.frame-parent8,
.history-transaction,
.transaction-details {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.history-transaction {
  flex-direction: column;
  padding: var(--padding-8xs) 0 0;
}
.frame-parent8 {
  flex-direction: row;
  gap: var(--gap-6xl);
}
.service {
  text-decoration: none;
  position: relative;
  color: inherit;
  display: inline-block;
  min-width: 57px;
  z-index: 1;
}
.service-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-smi) 0 0;
}
.div3 {
  min-width: 75px;
}
.completed,
.div3,
.history-separator {
  position: relative;
  display: inline-block;
  z-index: 1;
}
.completed {
  text-decoration: none;
  color: inherit;
  min-width: 83px;
}
.history-separator {
  font-weight: 500;
  color: var(--color-indianred);
  text-align: right;
  min-width: 49px;
}
.frame-parent9 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  padding: 0 var(--padding-12xs) 0 0;
  gap: var(--gap-xl);
}
.history-item-inner,
.history-item1 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.history-item-inner {
  flex: 1;
  flex-direction: column;
  padding: var(--padding-lg) 0 0;
  box-sizing: border-box;
  min-width: 268px;
  color: var(--color-steelblue);
}
.history-item1 {
  align-self: stretch;
  flex-direction: row;
  gap: 73px;
}
.frame-child37 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-xl);
  background-color: var(--color-mistyrose);
  width: 100%;
  height: 100%;
  display: none;
}
.user2-1-icon {
  position: absolute;
  top: 15px;
  left: 15px;
  width: 25px;
  height: 25px;
  overflow: hidden;
  z-index: 1;
}
.rectangle-parent19 {
  height: 55px;
  width: 55px;
  position: relative;
  border-radius: var(--br-xl);
  background-color: var(--color-mistyrose);
  z-index: 1;
}
.emilly-wilson,
.jan-20212 {
  position: relative;
  display: inline-block;
  z-index: 1;
}
.emilly-wilson {
  font-weight: 500;
  min-width: 101px;
}
.jan-20212 {
  font-size: var(--button-2-medium-15p-size);
  color: var(--color-steelblue);
  min-width: 87px;
}
.emilly-wilson-parent {
  flex-direction: column;
  gap: var(--gap-6xs);
}
.emilly-wilson-parent,
.frame-parent10,
.frame-wrapper37 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-wrapper37 {
  flex-direction: column;
  padding: var(--padding-8xs) 0 0;
}
.frame-parent10 {
  flex-direction: row;
  gap: var(--gap-6xl);
}
.transfer {
  position: relative;
  display: inline-block;
  min-width: 63px;
  z-index: 1;
}
.transfer-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-5xs) 0 0;
}
.completed1,
.div4,
.div5 {
  position: relative;
  display: inline-block;
  min-width: 75px;
  z-index: 1;
}
.completed1,
.div5 {
  min-width: 83px;
}
.div5 {
  font-weight: 500;
  color: var(--color-aquamarine);
  text-align: right;
  min-width: 51px;
}
.frame-parent11 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  padding: 0 var(--padding-12xs) 0 0;
  gap: var(--gap-xl);
}
.history-item-inner1 {
  width: 413px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-lg) 0 0;
  box-sizing: border-box;
  max-width: 100%;
  color: var(--color-steelblue);
}
.history-item2,
.rectangle-parent18 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  max-width: 100%;
  gap: var(--gap-xl);
}
.rectangle-parent18 {
  border-radius: var(--br-6xl);
  background-color: var(--color-white);
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-6xl);
  box-sizing: border-box;
  gap: var(--gap-3xs);
  z-index: 3;
}
.debit-credit {
  margin: 0;
  position: relative;
  font-size: var(--heading-two-semibold-22p-size);
  font-weight: 600;
  font-family: inherit;
  color: var(--color-white);
  z-index: 3;
}
.frame-child38 {
  width: 730px;
  height: 364px;
  position: relative;
  border-radius: var(--br-6xl);
  background-color: var(--color-white);
  display: none;
  max-width: 100%;
}
.credited-in-this,
.debited {
  color: var(--color-steelblue);
}
.debited-5420-container {
  position: relative;
  display: inline-block;
  max-width: 100%;
  z-index: 1;
}
.bar {
  width: 15px;
  height: 15px;
  position: relative;
  box-shadow: 0 0 15px rgba(17, 52, 133, 0.5) inset;
  border-radius: var(--br-8xs);
  background-color: var(--color-royalblue);
  z-index: 1;
}
.chart-bar {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-11xs) 0 0;
}
.debit {
  position: relative;
  display: inline-block;
  min-width: 41px;
  z-index: 1;
}
.chart-value {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-3xs);
}
.frame-child39 {
  width: 15px;
  height: 15px;
  position: relative;
  box-shadow: 0 0 15px rgba(172, 13, 108, 0.5) inset;
  border-radius: var(--br-8xs);
  background-color: var(--color-palevioletred);
  z-index: 1;
}
.chart-value-inner {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-11xs) 0 0;
}
.credit {
  text-decoration: none;
  position: relative;
  color: inherit;
  display: inline-block;
  min-width: 47px;
  z-index: 1;
}
.chart-value1 {
  justify-content: flex-start;
  gap: var(--gap-3xs);
}
.chart-bars,
.chart-title,
.chart-value1 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.chart-bars {
  justify-content: flex-start;
  gap: var(--gap-6xl);
  color: var(--color-steelblue);
}
.chart-title {
  align-self: stretch;
  justify-content: space-between;
  padding: 0 0 var(--padding-mini);
  box-sizing: border-box;
  gap: var(--gap-xl);
  max-width: 100%;
}
.chart-values,
.day {
  width: 30px;
  position: relative;
  border-radius: var(--br-3xs);
  z-index: 1;
}
.day {
  height: 135px;
  background-color: var(--color-blue-100);
}
.chart-values {
  align-self: stretch;
  background-color: var(--color-orange);
}
.chart-days {
  height: 234px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-3xs);
}
.chart-days-child,
.chart-days-item {
  width: 30px;
  position: relative;
  border-radius: var(--br-3xs);
  z-index: 1;
}
.chart-days-child {
  height: 106px;
  background-color: var(--color-blue-100);
}
.chart-days-item {
  align-self: stretch;
  background-color: var(--color-orange);
}
.chart-days1 {
  height: 186px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-3xs);
}
.chart-days-child1,
.chart-days-inner {
  width: 30px;
  position: relative;
  border-radius: var(--br-3xs);
  z-index: 1;
}
.chart-days-inner {
  height: 102px;
  background-color: var(--color-blue-100);
}
.chart-days-child1 {
  align-self: stretch;
  background-color: var(--color-orange);
}
.chart-days2 {
  height: 139px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-3xs);
}
.chart-days-child2,
.chart-days-child3 {
  width: 30px;
  position: relative;
  border-radius: var(--br-3xs);
  z-index: 1;
}
.chart-days-child2 {
  align-self: stretch;
  background-color: var(--color-blue-100);
}
.chart-days-child3 {
  height: 123px;
  background-color: var(--color-orange);
}
.chart-days3 {
  height: 212px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-3xs);
}
.chart-days-child4,
.chart-days-child5 {
  width: 30px;
  position: relative;
  border-radius: var(--br-3xs);
  z-index: 1;
}
.chart-days-child4 {
  height: 150px;
  background-color: var(--color-blue-100);
}
.chart-days-child5 {
  align-self: stretch;
  background-color: var(--color-orange);
}
.chart-days4 {
  height: 214px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-3xs);
}
.chart-days-child6,
.chart-days-child7 {
  width: 30px;
  position: relative;
  border-radius: var(--br-3xs);
  z-index: 1;
}
.chart-days-child6 {
  align-self: stretch;
  background-color: var(--color-blue-100);
}
.chart-days-child7 {
  height: 105px;
  background-color: var(--color-orange);
}
.chart-days5 {
  height: 158px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-3xs);
}
.chart-days-child8,
.chart-days-child9 {
  width: 30px;
  position: relative;
  border-radius: var(--br-3xs);
  z-index: 1;
}
.chart-days-child8 {
  height: 179px;
  background-color: var(--color-blue-100);
}
.chart-days-child9 {
  align-self: stretch;
  background-color: var(--color-orange);
}
.chart-days6,
.chart-details {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}
.chart-days6 {
  height: 216px;
  justify-content: flex-start;
  gap: var(--gap-3xs);
}
.chart-details {
  align-self: stretch;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.sat {
  position: relative;
  display: inline-block;
  min-width: 22px;
  z-index: 1;
}
.days {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-9xs) 0 0;
}
.mon,
.sun,
.thu,
.tue,
.wed {
  position: relative;
  display: inline-block;
  min-width: 26px;
  z-index: 1;
}
.mon,
.thu,
.tue,
.wed {
  min-width: 30px;
}
.thu,
.tue,
.wed {
  min-width: 25px;
}
.thu,
.wed {
  min-width: 30px;
}
.thu {
  min-width: 26px;
}
.days1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-6xs) 0 0;
}
.fri {
  position: relative;
  display: inline-block;
  min-width: 17px;
  z-index: 1;
}
.labels {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  padding: 0 var(--padding-12xs) 0 0;
  box-sizing: border-box;
  max-width: 100%;
  gap: var(--gap-xl);
}
.chart-labels,
.history,
.rectangle-parent20 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.chart-labels {
  align-self: stretch;
  flex-direction: row;
  padding: 0 var(--padding-7xl) 0 var(--padding-5xl);
  box-sizing: border-box;
  text-align: center;
  font-size: var(--font-size-sm);
  color: var(--color-steelblue);
}
.history,
.rectangle-parent20 {
  flex-direction: column;
}
.rectangle-parent20 {
  align-self: stretch;
  border-radius: var(--br-6xl);
  background-color: var(--color-white);
  padding: var(--padding-9xl) var(--padding-11xl) var(--padding-8xl);
  box-sizing: border-box;
  gap: var(--gap-xs);
  z-index: 3;
  color: var(--color-darkslateblue-100);
}
.history {
  flex: 1;
  gap: var(--gap-3xl);
  min-width: 474px;
}
.frame-child40 {
  align-self: stretch;
  height: 235px;
  position: relative;
  border-radius: var(--br-6xl);
  background: linear-gradient(107.38deg, #2d60ff, #539bff);
  display: none;
}
.amount,
.balance1 {
  position: relative;
  display: inline-block;
  min-width: 42px;
  z-index: 1;
}
.amount {
  font-size: var(--heading-four-semibold-20p-size);
  min-width: 63px;
  white-space: nowrap;
}
.balance-value {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.card-holder1,
.eddy-cusuma {
  position: relative;
  display: inline-block;
  min-width: 85px;
  z-index: 1;
}
.eddy-cusuma {
  font-size: var(--button-2-medium-15p-size);
  color: var(--color-white);
  min-width: 91px;
}
.balance-details-two,
.card-holder {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.card-holder {
  gap: var(--gap-10xs-9);
  color: var(--color-gray-200);
}
.balance-details-two {
  gap: var(--gap-10xl);
}
.chip-card-icon {
  width: 34.8px;
  height: 34.8px;
  position: relative;
  object-fit: contain;
  flex-shrink: 0;
  z-index: 1;
}
.valid-date,
.valid-thru {
  position: relative;
  display: inline-block;
  min-width: 70px;
  z-index: 1;
}
.valid-date {
  font-size: var(--button-2-medium-15p-size);
  color: var(--color-white);
  min-width: 42px;
}
.valid-thru-parent {
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-10xs-9);
  flex-shrink: 0;
}
.card-image,
.valid-thru-parent,
.validity {
  display: flex;
  justify-content: flex-start;
}
.validity {
  align-self: stretch;
  flex-direction: row;
  align-items: flex-start;
}
.card-image {
  width: 142.8px;
  flex-direction: column;
  align-items: flex-end;
  gap: var(--gap-12xl-2);
  color: var(--color-gray-200);
}
.balance-info,
.card-balance {
  display: flex;
  flex-direction: row;
}
.balance-info {
  flex: 1;
  align-items: flex-end;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.card-balance {
  align-self: stretch;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 var(--padding-5xl) 0 var(--padding-7xl);
}
.balance-info-child {
  height: 70px;
  width: 350px;
  position: relative;
  border-radius: 0 0 var(--br-6xl) var(--br-6xl);
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.15),
    rgba(255, 255, 255, 0)
  );
  display: none;
  max-width: 100%;
}
.balance-value1 {
  position: relative;
  z-index: 2;
}
.balance-amount {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-11xs) 0 0;
}
.balance-info-item {
  align-self: stretch;
  width: 44px;
  position: relative;
  max-height: 100%;
  min-height: 30px;
  z-index: 2;
}
.balance-info1,
.rectangle-parent21 {
  align-self: stretch;
  display: flex;
  box-sizing: border-box;
  max-width: 100%;
}
.balance-info1 {
  border-radius: 0 0 var(--br-6xl) var(--br-6xl);
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.15),
    rgba(255, 255, 255, 0)
  );
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  padding: var(--padding-xl) var(--padding-5xl) var(--padding-xl)
    var(--padding-7xl);
  gap: var(--gap-xl);
  z-index: 1;
  font-size: var(--heading-two-semibold-22p-size);
}
.rectangle-parent21 {
  border-radius: var(--br-6xl);
  background: linear-gradient(107.38deg, #2d60ff, #539bff);
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  padding: var(--padding-5xl) 0 0;
  gap: var(--gap-20xl-1);
  z-index: 3;
  font-family: var(--font-lato);
}
.invoices-sent {
  margin: 0;
  position: relative;
  font-size: var(--heading-two-semibold-22p-size);
  font-weight: 600;
  font-family: inherit;
  z-index: 3;
}
.frame-child41 {
  height: 364px;
  width: 350px;
  position: relative;
  border-radius: var(--br-6xl);
  background-color: var(--color-white);
  display: none;
  max-width: 100%;
}
.frame-child42 {
  height: 60px;
  width: 60px;
  position: relative;
  border-radius: var(--br-xl);
  background-color: var(--color-lightcyan);
  display: none;
}
.apple-2-1 {
  height: 25px;
  width: 25px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 1;
}
.rectangle-parent23 {
  border-radius: var(--br-xl);
  background-color: var(--color-lightcyan);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-lg) var(--padding-mid) var(--padding-mid)
    var(--padding-lg);
  z-index: 1;
}
.invoice-logos-child {
  height: 60px;
  width: 60px;
  position: relative;
  border-radius: var(--br-xl);
  background-color: var(--color-cornsilk);
  display: none;
}
.user2-1-icon1 {
  height: 25px;
  width: 25px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 2;
}
.invoice-logos {
  border-radius: var(--br-xl);
  background-color: var(--color-cornsilk);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-lg) var(--padding-mid) var(--padding-mid)
    var(--padding-lg);
  z-index: 1;
}
.invoice-logos-item {
  height: 60px;
  width: 60px;
  position: relative;
  border-radius: var(--br-xl);
  background-color: var(--color-lavender);
  display: none;
}
.playstation-1-icon {
  height: 25px;
  width: 25px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 2;
}
.invoice-logos1 {
  border-radius: var(--br-xl);
  background-color: var(--color-lavender);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-lg) var(--padding-mid) var(--padding-mid)
    var(--padding-lg);
  z-index: 1;
}
.invoice-logos-inner {
  height: 60px;
  width: 60px;
  position: relative;
  border-radius: var(--br-xl);
  background-color: var(--color-mistyrose);
  display: none;
}
.vector-icon {
  height: 25px;
  width: 25px;
  position: relative;
  z-index: 2;
}
.invoice-icons,
.invoice-logos2 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.invoice-logos2 {
  border-radius: var(--br-xl);
  background-color: var(--color-mistyrose);
  flex-direction: row;
  padding: var(--padding-lg) var(--padding-mid) var(--padding-mid)
    var(--padding-lg);
  z-index: 1;
}
.invoice-icons {
  flex-direction: column;
  gap: var(--gap-2xl);
}
.apple-store,
.h-ago {
  position: relative;
  display: inline-block;
  z-index: 1;
}
.apple-store {
  font-weight: 500;
  min-width: 90px;
}
.h-ago {
  font-size: var(--button-2-medium-15p-size);
  color: var(--color-steelblue);
  min-width: 49px;
}
.transaction-details1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-6xs);
}
.days-ago,
.michael {
  position: relative;
  display: inline-block;
  z-index: 1;
}
.michael {
  font-weight: 500;
  min-width: 60px;
}
.days-ago {
  font-size: var(--button-2-medium-15p-size);
  color: var(--color-steelblue);
  min-width: 78px;
}
.transaction-details2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-6xs);
}
.days-ago1,
.playstation {
  position: relative;
  display: inline-block;
  z-index: 1;
}
.playstation {
  font-weight: 500;
  min-width: 85px;
}
.days-ago1 {
  font-size: var(--button-2-medium-15p-size);
  color: var(--color-steelblue);
  min-width: 78px;
}
.transaction-details3 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-6xs);
}
.days-ago2,
.william {
  position: relative;
  display: inline-block;
  z-index: 1;
}
.william {
  font-weight: 500;
  min-width: 55px;
}
.days-ago2 {
  font-size: var(--button-2-medium-15p-size);
  color: var(--color-steelblue);
  min-width: 86px;
}
.transaction-details4 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-6xs);
}
.invoice-transactions {
  align-self: stretch;
  flex-direction: column;
  gap: var(--gap-18xl);
}
.invoice-details,
.invoice-items,
.invoice-transactions {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.invoice-details {
  flex: 1;
  flex-direction: column;
  padding: var(--padding-5xs) 0 0;
}
.invoice-items {
  width: 170px;
  flex-direction: row;
  gap: var(--gap-xl);
}
.no-invoices,
.no-invoices1,
.no-invoices2,
.no-invoices3 {
  position: relative;
  display: inline-block;
  min-width: 41px;
  white-space: nowrap;
  z-index: 1;
}
.no-invoices1,
.no-invoices2,
.no-invoices3 {
  min-width: 38px;
}
.no-invoices2,
.no-invoices3 {
  min-width: 48px;
}
.no-invoices3 {
  min-width: 31px;
}
.empty-invoices,
.view-more {
  display: flex;
  flex-direction: column;
}
.empty-invoices {
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-43xl);
}
.view-more {
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 var(--padding-xl);
  text-align: right;
  color: var(--color-steelblue);
}
.rectangle-parent22 {
  align-self: stretch;
  border-radius: var(--br-6xl);
  background-color: var(--color-white);
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  padding: var(--padding-11xl) var(--padding-6xl) var(--padding-12xl);
  box-sizing: border-box;
  max-width: 100%;
  gap: var(--gap-xl);
  z-index: 3;
  font-size: var(--body-one-regular-16p-size);
  color: var(--color-darkgray);
}
.card-details,
.transaction-history {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.card-details {
  width: 350px;
  flex-direction: column;
  gap: var(--gap-3xl);
  min-width: 350px;
  max-width: 100%;
  font-size: var(--font-size-xs);
  color: var(--color-white);
}
.transaction-history {
  width: 1110px;
  flex-direction: row;
  gap: var(--gap-11xl);
  max-width: 133%;
  flex-shrink: 0;
  color: var(--color-gray-100);
}
.dashboard2,
.summary {
  flex-direction: column;
  box-sizing: border-box;
}
.summary {
  align-self: stretch;
  background-color: var(--color-darkgreen-200);
  border-top: 1px solid var(--color-gainsboro-200);
  border-right: 350px solid var(--color-gainsboro-200);
  border-bottom: 1px solid var(--color-gainsboro-200);
  border-left: 1px solid var(--color-gainsboro-200);
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-9xl) 0 var(--padding-12xl);
  gap: var(--gap-xl);
  max-width: 100%;
  z-index: 2;
}
.dashboard2 {
  flex: 1;
  padding: var(--padding-12xs) 0 0;
  max-width: calc(100% - 250px);
  font-size: var(--body-one-regular-16p-size);
  color: var(--color-steelblue);
}
.accounts1,
.content,
.dashboard2 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  text-align: left;
  font-family: var(--heading-four-semibold-20p);
}
.content {
  align-self: stretch;
  flex-direction: row;
  max-width: 100%;
  font-size: var(--heading-three-medium-18p-size);
  color: var(--color-darkgray);
}
.accounts1 {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  overflow: hidden;
  flex-direction: column;
  line-height: normal;
  letter-spacing: normal;
  font-size: var(--font-size-6xl);
  color: var(--color-black);
}
@media screen and (max-width: 925px) {
  .page-layout {
    display: none;
    padding-top: var(--padding-xl);
    padding-bottom: var(--padding-212xl);
    box-sizing: border-box;
  }
  .balance-details {
    flex-wrap: wrap;
  }
  .card-details {
    flex: 1;
  }
  .transaction-history {
    flex-wrap: wrap;
  }
  .summary {
    padding-top: var(--padding-xl);
    padding-bottom: var(--padding-xl);
    box-sizing: border-box;
  }
  .dashboard2 {
    max-width: 100%;
  }
  .content {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 700px) {
  .header1 {
    gap: var(--gap-10xl);
  }
  .transactions2 {
    flex-wrap: wrap;
    justify-content: center;
  }
  .history-item {
    flex-wrap: wrap;
  }
  .history-item1 {
    flex-wrap: wrap;
    gap: var(--gap-17xl);
  }
  .chart-details,
  .chart-title,
  .history-item2 {
    flex-wrap: wrap;
  }
  .history {
    min-width: 100%;
  }
}
@media screen and (max-width: 450px) {
  .badr-bank1 {
    font-size: var(--heading-four-semibold-20p-size);
  }
  .page-layout {
    gap: var(--gap-mid);
    padding-bottom: var(--padding-131xl);
    box-sizing: border-box;
  }
  .div,
  .values {
    font-size: var(--heading-four-semibold-20p-size);
  }
  .rectangle-parent15 {
    flex: 1;
  }
  .div1 {
    font-size: var(--heading-four-semibold-20p-size);
  }
  .rectangle-parent16 {
    flex: 1;
  }
  .div2 {
    font-size: var(--heading-four-semibold-20p-size);
  }
  .rectangle-parent17 {
    flex: 1;
  }
  .last-transaction,
  .my-card {
    font-size: var(--heading-three-medium-18p-size);
  }
  .card {
    gap: 101px;
  }
  .transaction-details-items {
    flex-wrap: wrap;
    gap: var(--gap-mini);
  }
  .frame-parent9 {
    flex-wrap: wrap;
  }
  .history-item1 {
    gap: var(--gap-lg);
  }
  .frame-parent11 {
    flex-wrap: wrap;
  }
  .debit-credit {
    font-size: var(--heading-three-medium-18p-size);
  }
  .fri {
    width: 100%;
    height: 17px;
  }
  .labels {
    flex-wrap: wrap;
  }
  .rectangle-parent20 {
    padding-top: var(--padding-xl);
    padding-bottom: var(--padding-xl);
    box-sizing: border-box;
  }
  .amount {
    font-size: var(--body-one-regular-16p-size);
  }
  .balance-value1 {
    font-size: var(--heading-three-medium-18p-size);
  }
  .rectangle-parent21 {
    gap: var(--gap-xl);
  }
  .invoices-sent {
    font-size: var(--heading-three-medium-18p-size);
  }
  .rectangle-parent22 {
    padding-top: var(--padding-xl);
    padding-bottom: var(--padding-xl);
    box-sizing: border-box;
  }
  .card-details {
    min-width: 100%;
  }
}
