<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="./global_.css" />
    <link rel="stylesheet" href="./investments.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap"
    />
  </head>
  <body>
    <form class="investments3">
      <div class="investments-child"></div>
      <div class="investments-item"></div>
      <div class="header3">
        <div class="header-child4"></div>
        <div class="agriculture-bank">
          <div class="agriculture-bank-wrapper">
            <img
              class="banque-de-lagriculture-et-du-icon3"
              loading="lazy"
              alt=""
              src="./public/banque-de-lagriculture-et-du-dveloppement-ruralsvg-1@2x.png"
            />

            <div class="badr-bank3">
              <a class="badr-bank4">Badr Bank</a>
            </div>
          </div>
        </div>
        <header class="search-investments">
          <div class="investments-title">
            <a class="investments4">Investments</a>
          </div>
          <div class="search-filter">
            <div class="search-bar">
              <button class="rectangle-parent46">
                <div class="frame-child68"></div>
                <img
                  class="magnifying-glass-1-icon3"
                  alt=""
                  src="./public/magnifyingglass-1.svg"
                />

                <div class="search-for-something-container">
                  <a class="search-for-something3">Search for something</a>
                </div>
              </button>
            </div>
            <div class="search-filter-wrapper">
              <img
                class="search-filter-wrapper-child"
                loading="lazy"
                alt=""
                src="./public/group-4.svg"
              />
            </div>
            <div class="search-filter-wrapper1">
              <img
                class="search-filter-wrapper-item"
                loading="lazy"
                alt=""
                src="./public/group-3.svg"
              />
            </div>
            <img
              class="mask-group-icon3"
              loading="lazy"
              alt=""
              src="./public/mask-group@2x.png"
            />
          </div>
        </header>
      </div>
      <main class="sidebar-content">
        <div class="sidebar-icons">
          <div class="sidebar-icons-child"></div>
          <div class="sidebar-icons-inner">
            <div class="frame-child69"></div>
          </div>
          <div class="menu-icons4">
            <div class="menu-icon-labels">
              <img
                class="home-2-icon3"
                loading="lazy"
                alt=""
                src="./public/home-2.svg"
              />

              <img
                class="transfer-1-icon3"
                loading="lazy"
                alt=""
                src="./public/transfer-1.svg"
              />

              <img
                class="user-3-13"
                loading="lazy"
                alt=""
                src="./public/user-3-11.svg"
              />

              <img
                class="economic-investment-1-icon3"
                loading="lazy"
                alt=""
                src="./public/economicinvestment-11.svg"
              />

              <img
                class="credit-card-1-icon6"
                loading="lazy"
                alt=""
                src="./public/creditcard-1.svg"
              />

              <div class="loan-1-wrapper">
                <img
                  class="loan-1-icon3"
                  loading="lazy"
                  alt=""
                  src="./public/loan-1.svg"
                />
              </div>
              <div class="service-1-wrapper">
                <img
                  class="service-1-icon3"
                  loading="lazy"
                  alt=""
                  src="./public/service-1.svg"
                />
              </div>
              <div class="econometrics-1-wrapper">
                <img
                  class="econometrics-1-icon3"
                  loading="lazy"
                  alt=""
                  src="./public/econometrics-1.svg"
                />
              </div>
              <div class="settings-solid-1-wrapper">
                <img
                  class="settings-solid-13"
                  loading="lazy"
                  alt=""
                  src="./public/settings-solid-1.svg"
                />
              </div>
            </div>
            <div class="page-titles1">
              <div class="page-title-list">
                <a class="dashboard4">Dashboard</a>
                <div class="transactions4">Transactions</div>
                <div class="accounts5">Accounts</div>
                <div class="investments5">Investments</div>
                <div class="credit-cards5">Credit Cards</div>
                <div class="loans3">Loans</div>
                <div class="services5">Services</div>
                <div class="my-privileges3">My Privileges</div>
                <div class="setting3">Setting</div>
              </div>
            </div>
          </div>
          <div class="sidebar-icons-item"></div>
        </div>
        <section class="investment-summary">
          <div class="investment-details">
            <div class="investment-details-child"></div>
            <div class="frame-parent24">
              <div class="rectangle-parent47">
                <div class="frame-child70"></div>
                <img
                  class="frame-child71"
                  alt=""
                  src="./public/group-303.svg"
                />

                <div class="amount-labels">
                  <div class="investment-metrics">
                    <div class="total-invested-amount">
                      Total Invested Amount
                    </div>
                    <div class="metrics-values">$150,000</div>
                  </div>
                </div>
              </div>
              <div class="rectangle-parent48">
                <div class="frame-child72"></div>
                <img
                  class="frame-child73"
                  alt=""
                  src="./public/group-305.svg"
                />

                <div class="frame-wrapper44">
                  <div class="number-of-investments-parent">
                    <div class="number-of-investments">
                      Number of Investments
                    </div>
                    <div class="div9">1,250</div>
                  </div>
                </div>
              </div>
              <div class="rectangle-parent49">
                <div class="frame-child74"></div>
                <img
                  class="frame-child75"
                  alt=""
                  src="./public/group-307.svg"
                />

                <div class="frame-wrapper45">
                  <div class="rate-of-return-parent">
                    <div class="rate-of-return">Rate of Return</div>
                    <div class="div10">+5.80%</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="investment-chart">
              <div class="yearly-revenue">
                <div class="chart-title1">
                  <h3 class="yearly-total-investment">
                    Yearly Total Investment
                  </h3>
                  <div class="rectangle-parent50">
                    <div class="frame-child76"></div>
                    <div class="year-values">
                      <div class="first-year">$40,000</div>
                      <div class="first-year-bar">
                        <div class="first-year-value"></div>
                      </div>
                    </div>
                    <div class="revenue-values">
                      <div class="first-revenue">$30,000</div>
                      <div class="sixth-revenue">
                        <div class="sixth-revenue-value"></div>
                      </div>
                    </div>
                    <div class="seventh-revenue">
                      <div class="eight-revenue">$20,000</div>
                      <div class="ninth-revenue">
                        <div class="ninth-revenue-value"></div>
                      </div>
                    </div>
                    <div class="tenth-revenue">
                      <div class="tenth-revenue-bar">
                        <div class="tenth-revenue-first">$10,000</div>
                        <div class="tenth-revenue-second">$0</div>
                      </div>
                      <div class="eleventh-revenue">
                        <div class="eleventh-revenue-bar">
                          <div class="eleventh-revenue-value"></div>
                          <div class="twelve-revenue">
                            <div class="twelve-revenue-value"></div>
                            <div class="thirteen-revenue">
                              <div class="thirteen-revenue-bar">
                                <div class="thirteen-revenue-first">2016</div>
                                <div class="thirteen-revenue-second">2017</div>
                                <div class="thirteen-revenue-third">2018</div>
                                <div class="thirteen-revenue-fourth">2019</div>
                                <div class="thirteen-revenue-fifth">2020</div>
                                <div class="thirteen-revenue-sixth">2021</div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <img
                      class="statistics-icon"
                      loading="lazy"
                      alt=""
                      src="./public/statistics.svg"
                    />
                  </div>
                  <h3 class="my-investment">My Investment</h3>
                </div>
                <div class="chart-title2">
                  <h3 class="monthly-revenue">Monthly Revenue</h3>
                  <div class="rectangle-parent51">
                    <div class="frame-child77"></div>
                    <div class="second-year-parent">
                      <div class="second-year">$40,000</div>
                      <div class="second-year1">$30,000</div>
                      <div class="second-year2">$20,000</div>
                      <div class="third-year">$10,000</div>
                      <div class="fourth-year">$0</div>
                    </div>
                    <div class="frame-wrapper46">
                      <div class="first-revenue-value-parent">
                        <div class="first-revenue-value"></div>
                        <div class="second-revenue">
                          <div class="second-revenue-bar">
                            <div class="second-revenue-first"></div>
                            <div class="second-revenue-second"></div>
                            <img
                              class="second-revenue-bar-child"
                              loading="lazy"
                              alt=""
                              src="./public/vector-6.svg"
                            />
                          </div>
                          <div class="third-revenue"></div>
                        </div>
                        <div class="fourth-revenue">
                          <div class="fourth-revenue-value"></div>
                          <div class="fifth-revenue">
                            <div class="fifth-revenue-bar">
                              <div class="fifth-revenue-first">2016</div>
                              <div class="fifth-revenue-second">2017</div>
                              <div class="fifth-revenue-third">2018</div>
                              <div class="fifth-revenue-fourth">2019</div>
                              <div class="fifth-revenue-fifth">2020</div>
                              <div class="fifth-revenue-sixth">2021</div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="trending-stock-wrapper">
                    <h3 class="trending-stock">Trending Stock</h3>
                  </div>
                </div>
              </div>
              <div class="company-investments">
                <div class="company-list">
                  <div class="rectangle-parent52">
                    <div class="frame-child78"></div>
                    <div class="tech-stocks">
                      <div class="rectangle-parent53">
                        <div class="frame-child79"></div>
                        <img
                          class="stock-logo-icon"
                          loading="lazy"
                          alt=""
                          src="./public/vector.svg"
                        />
                      </div>
                      <div class="tech-stock-details">
                        <div class="tech-stock-names">
                          <div class="apple-store1">Apple Store</div>
                          <div class="e-commerce-marketplace">
                            E-commerce, Marketplace
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="tech-stock-finances">
                      <div class="tech-stock-value">
                        <div class="tech-investment-value">
                          <div class="investment-value">$54,000</div>
                          <div class="envestment-value">Envestment Value</div>
                        </div>
                        <div class="tech-stock-return">
                          <div class="stock-return-value">+16%</div>
                          <div class="return-value">Return Value</div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="rectangle-parent54">
                    <div class="frame-child80"></div>
                    <div class="frame-parent25">
                      <img
                        class="frame-child81"
                        loading="lazy"
                        alt=""
                        src="./public/group-875.svg"
                      />

                      <div class="frame-wrapper47">
                        <div class="samsung-mobile-parent">
                          <div class="samsung-mobile">Samsung Mobile</div>
                          <div class="e-commerce-marketplace1">
                            E-commerce, Marketplace
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="frame-wrapper48">
                      <div class="frame-parent26">
                        <div class="parent">
                          <div class="div11">$25,300</div>
                          <div class="envestment-value1">Envestment Value</div>
                        </div>
                        <div class="group">
                          <div class="div12">-4%</div>
                          <div class="return-value1">Return Value</div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="rectangle-parent55">
                    <div class="frame-child82"></div>
                    <div class="frame-parent27">
                      <img
                        class="frame-child83"
                        loading="lazy"
                        alt=""
                        src="./public/group-876.svg"
                      />

                      <div class="frame-wrapper49">
                        <div class="tesla-motors-parent">
                          <div class="tesla-motors">Tesla Motors</div>
                          <div class="electric-vehicles">Electric Vehicles</div>
                        </div>
                      </div>
                    </div>
                    <div class="frame-wrapper50">
                      <div class="frame-parent28">
                        <div class="parent1">
                          <div class="div13">$8,200</div>
                          <div class="envestment-value2">Envestment Value</div>
                        </div>
                        <div class="parent2">
                          <div class="div14">+25%</div>
                          <div class="return-value2">Return Value</div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="rectangle-parent56">
                  <div class="frame-child84"></div>
                  <div class="stock-table">
                    <div class="stock-table-content">
                      <div class="stock-table-header">
                        <div class="sl-no">SL No</div>
                        <div class="stock-table-header-name">
                          <div class="name">Name</div>
                        </div>
                        <div class="stock-table-header-name1">
                          <div class="price">Price</div>
                        </div>
                        <div class="return">Return</div>
                      </div>
                      <div class="separator1"></div>
                    </div>
                    <div class="travel-stocks">
                      <div class="stock-details">01.</div>
                      <div class="travel-stock-name">
                        <div class="trivago">Trivago</div>
                      </div>
                      <div class="travel-stock-name1">
                        <div class="div15">$520</div>
                      </div>
                      <div class="stock-details1">+5%</div>
                    </div>
                  </div>
                  <div class="social-stock-details">
                    <div class="social-stock-extra">02.</div>
                    <div class="social-stock-names">
                      <a class="canon">Canon</a>
                    </div>
                    <div class="social-stock-values">
                      <div class="social-stock-value">$480</div>
                    </div>
                    <div class="social-stock-extra1">+10%</div>
                  </div>
                  <div class="food-stocks">
                    <div class="food-stock-name">
                      <div class="food-stock">03.</div>
                    </div>
                    <div class="uber-food">Uber Food</div>
                    <div class="food-stock-name1">
                      <div class="div16">$350</div>
                    </div>
                    <div class="stock-details2">-3%</div>
                  </div>
                  <div class="social-stock-details1">
                    <div class="div17">04.</div>
                    <div class="nokia-wrapper">
                      <div class="nokia">Nokia</div>
                    </div>
                    <div class="wrapper1">
                      <div class="div18">$940</div>
                    </div>
                    <div class="div19">+2%</div>
                  </div>
                  <div class="social-stock-details2">
                    <div class="div20">05.</div>
                    <div class="tiktok-wrapper">
                      <div class="tiktok">Tiktok</div>
                    </div>
                    <div class="wrapper2">
                      <div class="div21">$670</div>
                    </div>
                    <div class="div22">-12%</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </main>
    </form>
  </body>
</html>
