<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="./global_.css" />
    <link rel="stylesheet" href="./main-dashboard.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap"
    />
  </head>
  <body>
    <div class="main-dashboard">
      <div class="background"></div>
      <main class="content1">
        <div class="navigation1">
          <header class="logo-container-parent">
            <div class="logo-container">
              <a class="overview">Overview</a>
            </div>
            <div class="menu-items1">
              <div class="search1">
                <button class="rectangle-parent46">
                  <div class="frame-child70"></div>
                  <img
                    class="magnifying-glass-1-icon4"
                    alt=""
                    src="./public/magnifyingglass-11.svg"
                  />

                  <div class="search-placeholder1">
                    <a class="search-for-something4">Search for something</a>
                  </div>
                </button>
              </div>
              <div class="menu-icons5">
                <img
                  class="menu-icons-child"
                  loading="lazy"
                  alt=""
                  src="./public/group-41.svg"
                />
              </div>
              <div class="menu-icons6">
                <img
                  class="menu-icons-item"
                  loading="lazy"
                  alt=""
                  src="./public/group-31.svg"
                />
              </div>
              <img
                class="mask-group-icon4"
                loading="lazy"
                alt=""
                src="./public/mask-group1@2x.png"
              />
            </div>
          </header>
        </div>
        <section class="main-content1">
          <div class="bg"></div>
          <div class="content-top-divider"></div>
          <div class="cards">
            <div class="card-list2">
              <div class="card-item">
                <div class="card-content1">
                  <div class="card-header1">
                    <a class="my-cards3">My Cards</a>
                    <div class="rectangle-parent47">
                      <div class="frame-child71"></div>
                      <div class="balance-info2">
                        <div class="balance-container1">
                          <div class="balance-row">
                            <div class="balance-value2">
                              <div class="balance7">Balance</div>
                              <b class="account-balance-value">$5,756</b>
                            </div>
                            <div class="holder-info">
                              <div class="card-holder7">CARD HOLDER</div>
                              <b class="eddy-cusuma6">Eddy Cusuma</b>
                            </div>
                          </div>
                          <div class="card-image1">
                            <img
                              class="chip-card-icon6"
                              loading="lazy"
                              alt=""
                              src="./public/chip-card@2x.png"
                            />

                            <div class="validity1">
                              <div class="validity-row">
                                <div class="valid-thru6">VALID THRU</div>
                                <b class="account-validity-value">12/22</b>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="rectangle-parent48">
                        <div class="frame-child72"></div>
                        <div class="see-all-button">
                          <b class="account-activity-placeholder"
                            >3778 **
** 1234</b
                          >
                        </div>
                        <img
                          class="frame-child73"
                          alt=""
                          src="./public/group-17.svg"
                        />
                      </div>
                    </div>
                    <h2 class="weekly-activity">Weekly Activity</h2>
                  </div>
                  <div class="second-card">
                    <div class="second-card-content">
                      <div class="second-card-header">
                        <a class="see-all1">
                          <span>See</span>
                          <span class="span"> </span>
                          <span>All</span>
                        </a>
                      </div>
                      <div class="rectangle-parent49">
                        <div class="frame-child74"></div>
                        <div class="second-balance-info">
                          <div class="second-balance-container">
                            <div class="second-balance-row">
                              <div class="second-balance-value">
                                <div class="balance8">Balance</div>
                                <b class="balance-value3">$5,756</b>
                              </div>
                              <div class="second-holder-info">
                                <div class="card-holder8">CARD HOLDER</div>
                                <b class="eddy-cusuma7">Eddy Cusuma</b>
                              </div>
                            </div>
                            <div class="second-card-image">
                              <img
                                class="chip-card-icon7"
                                loading="lazy"
                                alt=""
                                src="./public/chip-card-1@2x.png"
                              />

                              <div class="second-validity">
                                <div class="second-validity-row">
                                  <div class="valid-thru7">VALID THRU</div>
                                  <b class="valid-thru-value">12/22</b>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="rectangle-parent50">
                          <div class="frame-child75"></div>
                          <div class="second-see-all-button">
                            <b class="b8">3778 **
** 1234</b>
                          </div>
                          <img
                            class="frame-child76"
                            alt=""
                            src="./public/group-17-2.svg"
                          />
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="transactions16">
                  <div class="rectangle-parent51">
                    <div class="frame-child77"></div>
                    <div class="chart-bars2"></div>
                    <div class="chart-bars3"></div>
                    <div class="chart-bars4"></div>
                    <div class="chart-bars5"></div>
                    <div class="type-icons">
                      <div class="chart-legend-items">500</div>
                      <div class="icon-placeholder">
                        <div class="chart-legend-item">400</div>
                      </div>
                      <div class="icon-placeholder1">
                        <div class="div35">300</div>
                      </div>
                      <div class="chart-legend-items1">200</div>
                      <div class="chart-legend-items2">100</div>
                      <div class="icon-placeholder2">
                        <div class="div36">0</div>
                      </div>
                    </div>
                    <div class="transaction-details6">
                      <div class="transaction-summary">
                        <div class="transaction-amounts">
                          <div class="amount-circles">
                            <div class="graph-dots"></div>
                          </div>
                          <div class="diposit">Diposit</div>
                        </div>
                        <div class="transaction-amounts1">
                          <div class="transaction-amounts-inner">
                            <div class="frame-child78"></div>
                          </div>
                          <div class="withdraw">Withdraw</div>
                        </div>
                      </div>
                      <div class="transaction-graph">
                        <div class="graph-container">
                          <div class="graph-container-child"></div>
                          <div class="graph-content">
                            <div class="graph-bars">
                              <div class="bar-containers">
                                <div class="bar-containers-child"></div>
                                <div class="bar-containers-item"></div>
                              </div>
                              <div class="bar-containers1">
                                <div class="bar-containers-inner"></div>
                                <div class="bar-containers-child1"></div>
                              </div>
                              <div class="bar-containers2">
                                <div class="bar-containers-child2"></div>
                                <div class="bar-containers-child3"></div>
                              </div>
                              <div class="bar-containers3">
                                <div class="bar-containers-child4"></div>
                                <div class="bar-containers-child5"></div>
                              </div>
                              <div class="bar-containers4">
                                <div class="bar-containers-child6"></div>
                                <div class="bar-containers-child7"></div>
                              </div>
                              <div class="bar-containers5">
                                <div class="bar-containers-child8"></div>
                                <div class="bar-containers-child9"></div>
                              </div>
                              <div class="bar-containers6">
                                <div class="bar-containers-child10"></div>
                                <div class="bar-containers-child11"></div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="balance-separator"></div>
                      </div>
                      <div class="graph-days">
                        <div class="day-labels">
                          <div class="day-values">
                            <div class="sat1">Sat</div>
                          </div>
                          <div class="sun1">Sun</div>
                          <div class="mon1">Mon</div>
                          <div class="tue1">Tue</div>
                          <div class="wed1">Wed</div>
                          <div class="day-values1">
                            <div class="thu1">Thu</div>
                          </div>
                          <div class="fri1">Fri</div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="transfer-history">
                  <h2 class="quick-transfer">Quick Transfer</h2>
                  <h2 class="balance-history">Balance History</h2>
                </div>
              </div>
              <div class="bottom-right-navigation-icons">
                <div class="activity-content">
                  <a class="recent-transaction">Recent Transaction</a>
                  <div class="rectangle-parent52">
                    <div class="frame-child79"></div>
                    <div class="activity-items">
                      <img
                        class="activity-items-child"
                        loading="lazy"
                        alt=""
                        src="./public/group-313.svg"
                      />

                      <img
                        class="activity-items-item"
                        loading="lazy"
                        alt=""
                        src="./public/group-314.svg"
                      />

                      <img
                        class="activity-items-inner"
                        loading="lazy"
                        alt=""
                        src="./public/group-315.svg"
                      />
                    </div>
                    <div class="transactions17">
                      <div class="transaction-types">
                        <div class="transaction-detail">
                          <div class="transaction-info1">
                            <div class="deposit-from-my">
                              Deposit from my Card
                            </div>
                            <div class="transaction-months">
                              <div class="transaction-navigation-icon">
                                -$850
                              </div>
                            </div>
                          </div>
                          <div class="january-2021">28 January 2021</div>
                        </div>
                        <div class="transaction-detail1">
                          <div class="deposit-paypal-parent">
                            <div class="deposit-paypal">Deposit Paypal</div>
                            <div class="january-20211">25 January 2021</div>
                          </div>
                          <div class="wrapper11">
                            <div class="div37">+$2,500</div>
                          </div>
                        </div>
                        <div class="transaction-detail2">
                          <div class="jemi-wilson-parent">
                            <div class="jemi-wilson">Jemi Wilson</div>
                            <div class="january-20212">21 January 2021</div>
                          </div>
                          <div class="wrapper12">
                            <div class="div38">+$5,400</div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="statistics">
                  <h2 class="expense-statistics">Expense Statistics</h2>
                  <div class="rectangle-parent53">
                    <div class="frame-child80"></div>
                    <div class="category-container">
                      <img
                        class="group-icon1"
                        loading="lazy"
                        alt=""
                        src="./public/group.svg"
                      />

                      <div class="entertainment-label">
                        <b class="entertainment">
                          <p class="p">30%</p>
                          <p class="entertainment1">Entertainment</p>
                        </b>
                      </div>
                      <b class="bill-expense">
                        <p class="p1">15%</p>
                        <p class="bill-expense1">Bill Expense</p>
                      </b>
                      <div class="investment-others">
                        <div class="investment-other-labels">
                          <b class="investment">
                            <p class="p2">20%</p>
                            <p class="investment1">Investment</p>
                          </b>
                          <div class="others-label">
                            <b class="others">
                              <p class="p3">35%</p>
                              <p class="others1">Others</p>
                            </b>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="recipient">
            <div class="frame-parent26">
              <div class="rectangle-parent54">
                <div class="frame-child81"></div>
                <div class="recipient-input">
                  <div class="recipient-name">
                    <div class="recipient-avatar">
                      <img
                        class="mask-group-icon5"
                        loading="lazy"
                        alt=""
                        src="./public/mask-group-1@2x.png"
                      />
                    </div>
                    <div class="recipient-title">
                      <div class="livia-bator">Livia Bator</div>
                      <div class="designation">
                        <div class="ceo">CEO</div>
                      </div>
                    </div>
                  </div>
                  <div class="write-amount">Write Amount</div>
                </div>
                <div class="contact-list">
                  <div class="contact-items">
                    <div class="contact-entry">
                      <div class="contact-info">
                        <div class="contact-avatars">
                          <div class="avatar-pair">
                            <div class="mask-group-wrapper">
                              <img
                                class="mask-group-icon6"
                                loading="lazy"
                                alt=""
                                src="./public/mask-group-2@2x.png"
                              />
                            </div>
                            <div class="randy-press">Randy Press</div>
                          </div>
                          <div class="avatar-pair1">
                            <div class="mask-group-container">
                              <img
                                class="mask-group-icon7"
                                loading="lazy"
                                alt=""
                                src="./public/mask-group-3@2x.png"
                              />
                            </div>
                            <div class="workman">Workman</div>
                          </div>
                        </div>
                        <div class="contact-options">
                          <div class="wrapper-group-56">
                            <img
                              class="wrapper-group-56-child"
                              loading="lazy"
                              alt=""
                              src="./public/group-56.svg"
                            />
                          </div>
                        </div>
                      </div>
                      <div class="contact-roles">
                        <div class="recipient-image">
                          <div class="director">Director</div>
                          <div class="designer">Designer</div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="rectangle-parent55">
                    <div class="frame-child82"></div>
                    <div class="transfer-message">
                      <div class="placeholder">525.50</div>
                    </div>
                    <button class="rectangle-parent56">
                      <div class="frame-child83"></div>
                      <div class="send-action">
                        <div class="send">Send</div>
                      </div>
                      <img
                        class="group-icon2"
                        alt=""
                        src="./public/group-1.svg"
                      />
                    </button>
                  </div>
                </div>
              </div>
              <div class="rectangle-parent57">
                <div class="frame-child84"></div>
                <div class="link-items-parent">
                  <div class="link-items">
                    <div class="link-icons">
                      <div class="div39">800</div>
                      <div class="vector-wrapper">
                        <img
                          class="vector-icon1"
                          loading="lazy"
                          alt=""
                          src="./public/vector1.svg"
                        />
                      </div>
                    </div>
                    <div class="link-icons1">
                      <div class="div40">600</div>
                      <div class="vector-container">
                        <img
                          class="vector-icon2"
                          loading="lazy"
                          alt=""
                          src="./public/vector1.svg"
                        />
                      </div>
                    </div>
                    <div class="link-icons2">
                      <div class="div41">400</div>
                      <div class="vector-frame">
                        <img
                          class="vector-icon3"
                          loading="lazy"
                          alt=""
                          src="./public/vector1.svg"
                        />
                      </div>
                    </div>
                    <div class="first-link">
                      <div class="link-content">
                        <div class="div42">200</div>
                        <div class="link-icon">
                          <img
                            class="vector-icon4"
                            alt=""
                            src="./public/vector-3.svg"
                          />
                        </div>
                      </div>
                      <div class="second-link">
                        <div class="div43">0</div>
                        <div class="link-icon1">
                          <img
                            class="vector-icon5"
                            loading="lazy"
                            alt=""
                            src="./public/vector-4.svg"
                          />
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="third-link">
                    <div class="link-content1">
                      <div class="group-parent">
                        <img
                          class="group-icon3"
                          alt=""
                          src="./public/group-2.svg"
                        />

                        <img
                          class="vector-icon6"
                          loading="lazy"
                          alt=""
                          src="./public/vector-5.svg"
                        />
                      </div>
                      <div class="group-group">
                        <img
                          class="group-icon4"
                          alt=""
                          src="./public/group-32.svg"
                        />

                        <img
                          class="group-icon5"
                          alt=""
                          src="./public/group-32.svg"
                        />

                        <img
                          class="group-icon6"
                          alt=""
                          src="./public/group-32.svg"
                        />

                        <img
                          class="group-icon7"
                          alt=""
                          src="./public/group-32.svg"
                        />

                        <img
                          class="group-icon8"
                          alt=""
                          src="./public/group-32.svg"
                        />

                        <img
                          class="group-icon9"
                          alt=""
                          src="./public/group-32.svg"
                        />

                        <img
                          class="group-icon10"
                          alt=""
                          src="./public/group-32.svg"
                        />
                      </div>
                    </div>
                  </div>
                </div>
                <div class="chart">
                  <div class="jul-parent">
                    <div class="jul">Jul</div>
                    <div class="months">
                      <div class="aug1">Aug</div>
                    </div>
                    <div class="months1">
                      <div class="sep1">Sep</div>
                    </div>
                    <div class="months2">
                      <div class="oct1">Oct</div>
                    </div>
                    <div class="months3">
                      <div class="nov1">Nov</div>
                    </div>
                    <div class="months4">
                      <div class="dec1">Dec</div>
                    </div>
                    <div class="jan1">Jan</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </main>
      <div class="bank-details">
        <div class="bank-logo1">
          <div class="bank-logo-child"></div>
          <img
            class="banque-de-lagriculture-et-du-icon4"
            loading="lazy"
            alt=""
            src="./public/banque-de-lagriculture-et-du-dveloppement-ruralsvg-1@2x.png"
          />

          <div class="bank-name1">
            <a class="badr-bank5">Badr Bank</a>
          </div>
        </div>
        <div class="footer">
          <div class="footer-child"></div>
          <div class="footer-content">
            <div class="footer-navigation">
              <div class="navigation-items1">
                <img
                  class="home-2-icon4"
                  loading="lazy"
                  alt=""
                  src="./public/home-21.svg"
                />

                <img
                  class="transfer-1-icon4"
                  loading="lazy"
                  alt=""
                  src="./public/transfer-1.svg"
                />

                <img class="user-3-14" alt="" src="./public/user-3-11.svg" />

                <img
                  class="economic-investment-1-icon4"
                  loading="lazy"
                  alt=""
                  src="./public/economicinvestment-1.svg"
                />

                <img
                  class="credit-card-1-icon7"
                  loading="lazy"
                  alt=""
                  src="./public/creditcard-12.svg"
                />

                <div class="menu-items2">
                  <img
                    class="loan-1-icon4"
                    loading="lazy"
                    alt=""
                    src="./public/loan-1.svg"
                  />
                </div>
                <div class="menu-items3">
                  <img
                    class="service-1-icon4"
                    loading="lazy"
                    alt=""
                    src="./public/service-1.svg"
                  />
                </div>
                <div class="menu-items4">
                  <img
                    class="econometrics-1-icon4"
                    loading="lazy"
                    alt=""
                    src="./public/econometrics-1.svg"
                  />
                </div>
                <div class="menu-items5">
                  <img
                    class="settings-solid-14"
                    loading="lazy"
                    alt=""
                    src="./public/settings-solid-1.svg"
                  />
                </div>
              </div>
              <div class="page-navigation">
                <div class="page-links">
                  <a class="dashboard5">Dashboard</a>
                  <h3 class="transactions18">Transactions</h3>
                  <a class="accounts6">Accounts</a>
                  <h3 class="investments6">Investments</h3>
                  <h3 class="credit-cards6">Credit Cards</h3>
                  <h3 class="loans4">Loans</h3>
                  <a class="services4">Services</a> 
                  <h3 class="my-privileges4">My Privileges</h3>
                  <a class="setting4">Setting</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
