<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="./global_.css" />
    <link rel="stylesheet" href="./setting-page-3.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap"
    />
  </head>
  <body>
    <div class="setting-page-3">
      <div class="content6"></div>
      <header class="header8">
        <div class="header-child10"></div>
        <div class="header-child11"></div>
        <div class="banque-de-lagriculture-et-du-group">
          <img
            class="banque-de-lagriculture-et-du-icon9"
            loading="lazy"
            alt=""
            src="./public/banque-de-lagriculture-et-du-dveloppement-ruralsvg-12@2x.png"
          />

          <div class="badr-bank-wrapper1">
            <a class="badr-bank10">Badr Bank</a>
          </div>
        </div>
        <div class="setting-header-parent">
          <div class="setting-header">
            <a class="setting11">Setting</a>
          </div>
          <div class="search-and-avatar">
            <div class="search-and-avatar-inner">
              <div class="rectangle-parent102">
                <div class="frame-child167"></div>
                <img
                  class="magnifying-glass-1-icon9"
                  alt=""
                  src="./public/magnifyingglass-1.svg"
                />

                <div class="search-placeholder3">
                  <a class="search-for-something9">Search for something</a>
                </div>
              </div>
            </div>
            <div class="search-and-avatar-child">
              <img
                class="frame-child168"
                loading="lazy"
                alt=""
                src="./public/group-4.svg"
              />
            </div>
            <div class="search-and-avatar-inner1">
              <img
                class="frame-child169"
                loading="lazy"
                alt=""
                src="./public/group-3.svg"
              />
            </div>
            <img
              class="mask-group-icon12"
              loading="lazy"
              alt=""
              src="./public/mask-group@2x.png"
            />
          </div>
        </div>
      </header>
      <section class="page-content2">
        <div class="content-background-parent">
          <div class="content-background2"></div>
          <div class="navigation-and-profile">
            <div class="navigation3">
              <div class="navigation-items6">
                <img
                  class="home-2-icon9"
                  loading="lazy"
                  alt=""
                  src="./public/home-2.svg"
                />

                <img
                  class="transfer-1-icon9"
                  loading="lazy"
                  alt=""
                  src="./public/transfer-1.svg"
                />

                <img
                  class="user-3-19"
                  loading="lazy"
                  alt=""
                  src="./public/user-3-11.svg"
                />

                <img
                  class="economic-investment-1-icon9"
                  loading="lazy"
                  alt=""
                  src="./public/economicinvestment-1.svg"
                />

                <img
                  class="credit-card-1-icon12"
                  loading="lazy"
                  alt=""
                  src="./public/creditcard-1.svg"
                />

                <div class="navigation-links2">
                  <img
                    class="loan-1-icon9"
                    loading="lazy"
                    alt=""
                    src="./public/loan-1.svg"
                  />
                </div>
                <div class="navigation-links3">
                  <img
                    class="service-1-icon9"
                    loading="lazy"
                    alt=""
                    src="./public/service-1.svg"
                  />
                </div>
                <div class="navigation-links4">
                  <img
                    class="econometrics-1-icon9"
                    loading="lazy"
                    alt=""
                    src="./public/econometrics-1.svg"
                  />
                </div>
                <div class="navigation-links5">
                  <img
                    class="settings-solid-19"
                    loading="lazy"
                    alt=""
                    src="./public/settings-solid-11.svg"
                  />
                </div>
              </div>
              <div class="page-title2">
                <div class="dashboard-group">
                  <a class="dashboard11">Dashboard</a>
                  <div class="transactions23">Transactions</div>
                  <a class="accounts11">Accounts</a>
                  <div class="investments11">Investments</div>
                  <div class="credit-cards11">Credit Cards</div>
                  <div class="loans10">Loans</div>
                  <a class="services11">Services</a>
                  <div class="my-privileges9">My Privileges</div>
                  <a class="setting12">Setting</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="profile1">
          <footer class="profile-background1"></footer>
          <div class="rectangle-parent103">
            <div class="frame-child170"></div>
            <div class="frame-child171"></div>
            <div class="profile-options1">
              <div class="general-settings">
                <div class="general-settings-list">
                  <div class="edit-profile2">Edit Profile</div>
                  <a class="preferences2">Preferences</a>
                  <a class="security2">Security</a>
                </div>
              </div>
              <div class="security-settings">
                <div class="security-settings-child"></div>
                <div class="security-settings-item"></div>
              </div>
            </div>
            <div class="two-factor-auth">
              <div class="two-factor-authentication">
                Two-factor Authentication
              </div>
              <div class="two-factor-auth-status">
                <div class="rectangle-parent104">
                  <div class="frame-child172"></div>
                  <div class="two-factor-auth-toggle"></div>
                </div>
                <div class="two-factor-auth-description">
                  <div class="enable-or-disable">
                    Enable or disable two factor authentication
                  </div>
                </div>
              </div>
            </div>
            <div class="change-password">
              <div class="change-password-parent">
                <div class="change-password1">Change Password</div>
                <div class="current-password-input">
                  <div class="current-password">Current Password</div>
                  <div class="rectangle-parent105">
                    <div class="frame-child173"></div>
                    <input
                      class="current-password-hint"
                      placeholder="**********"
                      type="text"
                    />
                  </div>
                </div>
              </div>
              <div class="new-password-parent">
                <div class="new-password">New Password</div>
                <div class="rectangle-parent106">
                  <div class="frame-child174"></div>
                  <input
                    class="new-password-placeholder"
                    placeholder="**********"
                    type="text"
                  />
                </div>
              </div>
            </div>
            <div class="save-button">
              <button class="rectangle-parent107">
                <div class="frame-child175"></div>
                <div class="save2">Save</div>
              </button>
            </div>
          </div>
        </div>
      </section>
      <div class="content7"></div>
    </div>
  </body>
</html>
