<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="./global_.css" />
    <link rel="stylesheet" href="./setting-page-2.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap"
    />
  </head>
  <body>
    <div class="setting-page-2">
      <div class="content4"></div>
      <header class="header7">
        <div class="header-child8"></div>
        <div class="header-child9"></div>
        <img
          class="banque-de-lagriculture-et-du-icon8"
          loading="lazy"
          alt=""
          src="./public/banque-de-lagriculture-et-du-dveloppement-ruralsvg-12@2x.png"
        />

        <div class="settings-bar">
          <div class="settings1">
            <a class="badr-bank9">Badr Bank </a>
            <a class="setting9">Setting</a>
          </div>
        </div>
        <div class="search-bar3">
          <div class="rectangle-parent94">
            <div class="frame-child153"></div>
            <img
              class="magnifying-glass-1-icon8"
              alt=""
              src="./public/magnifyingglass-1.svg"
            />

            <div class="search-input2">
              <a class="search-for-something8">Search for something</a>
            </div>
          </div>
        </div>
        <div class="header-inner4">
          <img
            class="frame-child154"
            loading="lazy"
            alt=""
            src="./public/group-4.svg"
          />
        </div>
        <div class="header-inner5">
          <img
            class="frame-child155"
            loading="lazy"
            alt=""
            src="./public/group-3.svg"
          />
        </div>
        <div class="mask">
          <img
            class="mask-group-icon11"
            loading="lazy"
            alt=""
            src="./public/mask-group@2x.png"
          />
        </div>
      </header>
      <section class="body">
        <div class="navigation-container">
          <div class="navigation-background1"></div>
          <div class="navigation2">
            <div class="navigation-links1">
              <div class="links">
                <img
                  class="home-2-icon8"
                  loading="lazy"
                  alt=""
                  src="./public/home-2.svg"
                />

                <img
                  class="transfer-1-icon8"
                  loading="lazy"
                  alt=""
                  src="./public/transfer-1.svg"
                />

                <img
                  class="user-3-18"
                  loading="lazy"
                  alt=""
                  src="./public/user-3-11.svg"
                />

                <img
                  class="economic-investment-1-icon8"
                  loading="lazy"
                  alt=""
                  src="./public/economicinvestment-1.svg"
                />

                <img
                  class="credit-card-1-icon11"
                  loading="lazy"
                  alt=""
                  src="./public/creditcard-1.svg"
                />

                <div class="navigation-items2">
                  <img
                    class="loan-1-icon8"
                    loading="lazy"
                    alt=""
                    src="./public/loan-1.svg"
                  />
                </div>
                <div class="navigation-items3">
                  <img
                    class="service-1-icon8"
                    loading="lazy"
                    alt=""
                    src="./public/service-1.svg"
                  />
                </div>
                <div class="navigation-items4">
                  <img
                    class="econometrics-1-icon8"
                    loading="lazy"
                    alt=""
                    src="./public/econometrics-1.svg"
                  />
                </div>
                <div class="navigation-items5">
                  <img
                    class="settings-solid-18"
                    loading="lazy"
                    alt=""
                    src="./public/settings-solid-11.svg"
                  />
                </div>
              </div>
              <div class="page-content1">
                <div class="page-titles2">
                  <a class="dashboard10">Dashboard</a>
                  <div class="transactions22">Transactions</div>
                  <a class="accounts10">Accounts</a>
                  <div class="investments10">Investments</div>
                  <div class="credit-cards10">Credit Cards</div>
                  <div class="loans9">Loans</div>
                  <a class="services10">Services</a>
                  <div class="my-privileges8">My Privileges</div>
                  <a class="setting10">Setting</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="sidebar1">
          <footer class="sidebar-background1"></footer>
          <div class="rectangle-parent95">
            <div class="frame-child156"></div>
            <div class="frame-child157"></div>
            <div class="profile">
              <div class="profile-options">
                <div class="options">
                  <div class="edit-profile1">Edit Profile</div>
                  <a class="preferences1">Preferences</a>
                  <a class="security1">Security</a>
                </div>
              </div>
              <div class="dividers">
                <div class="dividers-child"></div>
                <div class="dividers-item"></div>
              </div>
            </div>
            <div class="currency-settings">
              <div class="currency">
                <div class="currency-label">
                  <div class="currency1">Currency</div>
                  <div class="rectangle-parent96">
                    <div class="frame-child158"></div>
                    <input class="usd" placeholder="USD" type="text" />
                  </div>
                </div>
                <div class="notification-settings">
                  <div class="notification">Notification</div>
                  <div class="notification-panel">
                    <div class="notification-icons">
                      <div class="rectangle-parent97">
                        <div class="frame-child159"></div>
                        <div class="frame-child160"></div>
                      </div>
                      <div class="rectangle-parent98">
                        <div class="frame-child161"></div>
                        <div class="frame-child162"></div>
                      </div>
                      <div class="rectangle-parent99">
                        <div class="frame-child163"></div>
                        <div class="frame-child164"></div>
                      </div>
                    </div>
                    <div class="notification-list">
                      <div class="notification-items">
                        <div class="i-send-or">
                          I send or receive digita currency
                        </div>
                        <div class="notification-content">
                          <div class="i-receive-merchant">
                            I receive merchant order
                          </div>
                        </div>
                        <div class="notification-content1">
                          <div class="there-are-recommendation">
                            There are recommendation for my account
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="time-zone-settings">
                <div class="time-zone">
                  <div class="time-zone1">Time Zone</div>
                  <div class="rectangle-parent100">
                    <div class="frame-child165"></div>
                    <input
                      class="gmt-1200-international-date"
                      placeholder="(GMT-12:00) International Date Line West"
                      type="text"
                    />
                  </div>
                </div>
                <button class="rectangle-parent101">
                  <div class="frame-child166"></div>
                  <div class="save1">Save</div>
                </button>
              </div>
            </div>
          </div>
        </div>
      </section>
      <div class="content5"></div>
    </div>
  </body>
</html>
