<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="./global_.css" />
    <link rel="stylesheet" href="./transaction.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap"
    />
  </head>
  <body>
    <div class="transaction">
      <div class="transaction-child"></div>
      <div class="transaction-item"></div>
      <header class="header-wrapper">
        <div class="header3">
          <img class="rectangle-icon" alt="" src="./public/rectangle-229.svg" />

          <img
            class="banque-de-lagriculture-et-du-icon3"
            loading="lazy"
            alt=""
            src="./public/banque-de-lagriculture-et-du-dveloppement-ruralsvg-1@2x.png"
          />

          <div class="badr-bank-wrapper">
            <a class="badr-bank4">Badr Bank</a>
          </div>
          <div class="transactions-parent">
            <div class="transactions-content-wrapper">
              <div class="transactions-content">
                <div class="transactions-title">
                  <a class="transactions4">Transactions</a>
                </div>
                <div class="search-and-filter">
                  <div class="search-and-filter-inner">
                    <button class="rectangle-parent40">
                      <div class="frame-child55"></div>
                      <img
                        class="magnifying-glass-1-icon3"
                        alt=""
                        src="./public/magnifyingglass-1.svg"
                      />

                      <div class="search-placeholder">
                        <a class="search-for-something3"
                          >Search for something</a
                        >
                      </div>
                    </button>
                  </div>
                  <div class="search-input">
                    <img
                      class="search-input-child"
                      loading="lazy"
                      alt=""
                      src="./public/group-4.svg"
                    />
                  </div>
                  <div class="search-input1">
                    <img
                      class="search-input-item"
                      loading="lazy"
                      alt=""
                      src="./public/group-3.svg"
                    />
                  </div>
                  <img
                    class="mask-group-icon3"
                    loading="lazy"
                    alt=""
                    src="./public/mask-group@2x.png"
                  />
                </div>
              </div>
            </div>
            <div class="transactions-parent-child"></div>
          </div>
        </div>
      </header>
      <div class="content-background1"></div>
      <div class="transaction-inner"></div>
      <main class="navigation-and-content">
        <div class="navigation-bar">
          <div class="navigation-background"></div>
        </div>
        <div class="navigation-items">
          <div class="navigation-links">
            <div class="home-2-parent">
              <img
                class="home-2-icon3"
                loading="lazy"
                alt=""
                src="./public/home-2.svg"
              />

              <img
                class="transfer-1-icon3"
                loading="lazy"
                alt=""
                src="./public/transfer-11.svg"
              />

              <img
                class="user-3-13"
                loading="lazy"
                alt=""
                src="./public/user-3-11.svg"
              />

              <img
                class="economic-investment-1-icon3"
                loading="lazy"
                alt=""
                src="./public/economicinvestment-1.svg"
              />

              <img
                class="credit-card-1-icon6"
                loading="lazy"
                alt=""
                src="./public/creditcard-1.svg"
              />

              <div class="loan-1-container">
                <img
                  class="loan-1-icon3"
                  loading="lazy"
                  alt=""
                  src="./public/loan-1.svg"
                />
              </div>
              <div class="service-1-container">
                <img
                  class="service-1-icon3"
                  loading="lazy"
                  alt=""
                  src="./public/service-1.svg"
                />
              </div>
              <div class="econometrics-1-container">
                <img
                  class="econometrics-1-icon3"
                  loading="lazy"
                  alt=""
                  src="./public/econometrics-1.svg"
                />
              </div>
              <div class="settings-solid-1-container">
                <img
                  class="settings-solid-13"
                  loading="lazy"
                  alt=""
                  src="./public/settings-solid-1.svg"
                />
              </div>
            </div>
            <div class="page-title-wrapper">
              <div class="page-title">
                <a class="dashboard4">Dashboard</a>
                <div class="transactions5">Transactions</div>
                <div class="accounts5">Accounts</div>
                <div class="investments5">Investments</div>
                <div class="credit-cards5">Credit Cards</div>
                <div class="loans3">Loans</div>
                <div class="services3">Services</div>
                <div class="my-privileges3">My Privileges</div>
                <div class="setting3">Setting</div>
              </div>
            </div>
          </div>
        </div>
        <section class="rectangle-parent41">
          <div class="frame-child56"></div>
          <div class="main-content">
            <div class="cards-and-transactions">
              <a class="my-cards2">My Cards</a>
              <div class="cards-container">
                <div class="card-list1">
                  <div class="rectangle-parent42">
                    <div class="frame-child57"></div>
                    <div class="card-content-wrapper">
                      <div class="card-content">
                        <div class="card-details1">
                          <div class="card-balance1">
                            <div class="balance5">Balance</div>
                            <b class="card-balance-value">$5,756</b>
                          </div>
                          <div class="card-header">
                            <div class="card-holder5">CARD HOLDER</div>
                            <b class="eddy-cusuma4">Eddy Cusuma</b>
                          </div>
                        </div>
                        <div class="card-visuals">
                          <img
                            class="chip-card-icon4"
                            loading="lazy"
                            alt=""
                            src="./public/chip-card@2x.png"
                          />

                          <div class="card-validity">
                            <div class="valid-thru-parent1">
                              <div class="valid-thru4">VALID THRU</div>
                              <b class="card-validity-value">12/22</b>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="card-logo">
                      <div class="card-logo-child"></div>
                      <div class="card-logo-placeholder">
                        <b class="b6">3778 **
** 1234</b>
                      </div>
                      <img
                        class="card-logo-item"
                        alt=""
                        src="./public/group-17.svg"
                      />
                    </div>
                  </div>
                  <h3 class="recent-transactions">Recent Transactions</h3>
                </div>
                <div class="frame-parent20">
                  <div class="all-transactions-button-parent">
                    <div class="all-transactions-button">
                      <div class="all-transactions">All Transactions</div>
                    </div>
                    <div class="all-transactions-background"></div>
                  </div>
                  <a class="income1">Income</a>
                </div>
              </div>
            </div>
            <div class="add-card-content-wrapper">
              <div class="add-card-content">
                <div class="add-card-button">
                  <a class="add-card1">+ Add Card</a>
                </div>
                <div class="empty-card-container">
                  <div class="empty-card-content">
                    <div class="rectangle-parent43">
                      <div class="frame-child58"></div>
                      <div class="empty-card-content-details-wrapper">
                        <div class="empty-card-content-details">
                          <div class="empty-card-details">
                            <div class="empty-card-balance">
                              <div class="balance6">Balance</div>
                              <b class="empty-card-balance1">$5,756</b>
                            </div>
                            <div class="empty-card-header">
                              <div class="card-holder6">CARD HOLDER</div>
                              <b class="eddy-cusuma5">Eddy Cusuma</b>
                            </div>
                          </div>
                          <div class="empty-card-visuals">
                            <img
                              class="chip-card-icon5"
                              loading="lazy"
                              alt=""
                              src="./public/chip-card-2@2x.png"
                            />

                            <div class="empty-card-validity">
                              <div class="valid-thru-parent2">
                                <div class="valid-thru5">VALID THRU</div>
                                <b class="empty-card-validity1">12/22</b>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="empty-card-logo">
                        <div class="empty-card-logo-child"></div>
                        <div class="empty-card-logo-placeholder">
                          <b class="b7">3778 **
** 1234</b>
                        </div>
                        <img
                          class="empty-card-logo-item"
                          alt=""
                          src="./public/group-17-2.svg"
                        />
                      </div>
                    </div>
                  </div>
                  <div class="expense1">Expense</div>
                </div>
              </div>
            </div>
            <div class="my-expense-parent">
              <a class="my-expense">My Expense</a>
              <div class="rectangle-parent44">
                <div class="frame-child59"></div>
                <div class="expense-chart-and-legend">
                  <div class="expense-legend">
                    <div class="expense-legend-items"></div>
                    <div class="expense-legend-items1"></div>
                    <div class="expense-legend-items2"></div>
                    <div class="expense-legend-items3"></div>
                  </div>
                  <div class="expense-chart-area">
                    <div class="total-spending">$12,500</div>
                    <div class="spending-chart">
                      <div class="chart-bars1">
                        <div class="chart-bar1"></div>
                        
                      </div>
                    </div>
                  </div>
                </div>
                <div class="frame-wrapper15">
                  <div class="aug-parent">
                    <div class="aug">Aug</div>
                    <div class="sep">Sep</div>
                    <div class="oct">Oct</div>
                    <div class="nov">Nov</div>
                    <div class="dec">Dec</div>
                    <div class="jan">Jan</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="frame-wrapper16">
            <div class="rectangle-parent45">
              <div class="frame-child60"></div>
              <div class="transaction-details5">
                <div class="description">Description</div>
                <div class="details">
                  <div class="transaction-id">Transaction ID</div>
                  <div class="detail">
                    <div class="type">Type</div>
                  </div>
                  <div class="detail1">
                    <div class="card1">Card</div>
                  </div>
                  <div class="date">Date</div>
                </div>
                <div class="details1">
                  <div class="amount1">Amount</div>
                  <div class="receipt">Receipt</div>
                </div>
              </div>
              <div class="transactions6">
                <div class="transaction1"></div>
              </div>
              <div class="transactions7">
                <div class="transaction-info-wrapper">
                  <div class="transaction-info">
                    <img
                      class="transaction-info-child"
                      loading="lazy"
                      alt=""
                      src="./public/group-73.svg"
                    />

                    <div class="transaction-names">
                      <div class="spotify-subscription1">
                        Spotify Subscription
                      </div>
                    </div>
                    <div class="transaction-amount">
                      <div class="div23">#12548796</div>
                    </div>
                  </div>
                </div>
                <div class="transaction-category">
                  <a class="shopping1">Shopping</a>
                </div>
                <div class="transaction-type">
                  <div class="type1">1234 ****</div>
                </div>
                <div class="transaction-time">
                  <div class="jan-1230-am">28 Jan, 12.30 AM</div>
                </div>
                <div class="time-separator">
                  <div class="separator2">-$2,500</div>
                </div>
                <button class="download-parent">
                  <div class="download">Download</div>
                  <div class="frame-child61"></div>
                </button>
              </div>
              <div class="transactions8">
                <div class="transactions-child"></div>
              </div>
              <div class="transactions9">
                <div class="transactions-inner">
                  <div class="frame-parent21">
                    <input class="group-input" type="radio" />

                    <div class="freepik-sales-wrapper">
                      <div class="freepik-sales">Freepik Sales</div>
                    </div>
                  </div>
                </div>
                <div class="wrapper3">
                  <div class="div24">#12548796</div>
                </div>
                <div class="transfer-container">
                  <div class="transfer1">Transfer</div>
                </div>
                <div class="transactions-inner1">
                  <div class="time-parent">
                    <div class="time">1234 ****</div>
                    <div class="jan-1040-pm">25 Jan, 10.40 PM</div>
                  </div>
                </div>
                <div class="wrapper4">
                  <div class="div25">+$750</div>
                </div>
                <button class="download-group">
                  <div class="download1">Download</div>
                  <div class="frame-child62"></div>
                </button>
              </div>
              <div class="transactions10">
                <div class="transactions-item"></div>
              </div>
              <div class="transactions11">
                <div class="transactions-inner2">
                  <div class="frame-parent22">
                    <img
                      class="frame-child63"
                      loading="lazy"
                      alt=""
                      src="./public/group-73.svg"
                    />

                    <div class="mobile-service-wrapper">
                      <div class="mobile-service1">Mobile Service</div>
                    </div>
                  </div>
                </div>
                <div class="wrapper5">
                  <div class="div26">#12548796</div>
                </div>
                <div class="service-container">
                  <a class="service1">Service</a>
                </div>
                <div class="transactions-inner3">
                  <div class="parent3">
                    <div class="div27">1234 ****</div>
                    <div class="jan-1040-pm1">20 Jan, 10.40 PM</div>
                  </div>
                </div>
                <div class="wrapper6">
                  <div class="div28">-$150</div>
                </div>
                <button class="download-container">
                  <div class="download2">Download</div>
                  <div class="frame-child64"></div>
                </button>
              </div>
              <div class="transactions12">
                <div class="transactions-child1"></div>
              </div>
              <div class="transactions13">
                <div class="transactions-inner4">
                  <div class="frame-parent23">
                    <img
                      class="frame-child65"
                      loading="lazy"
                      alt=""
                      src="./public/group-73.svg"
                    />

                    <div class="wilson-wrapper">
                      <a class="wilson">Wilson</a>
                    </div>
                  </div>
                </div>
                <div class="wrapper7">
                  <div class="div29">#12548796</div>
                </div>
                <div class="type-icon-parent">
                  <div class="type-icon">
                    <div class="transfer2">Transfer</div>
                  </div>
                  <div class="type-icon1">
                    <div class="icon">1234 ****</div>
                  </div>
                  <div class="transaction-time1">
                    <div class="jan-0329-pm">15 Jan, 03.29 PM</div>
                  </div>
                  <div class="time-separator1">
                    <div class="separator3">-$1050</div>
                  </div>
                  <button class="download-parent1">
                    <div class="download3">Download</div>
                    <div class="frame-child66"></div>
                  </button>
                </div>
              </div>
              <div class="transactions14">
                <div class="transactions-child2"></div>
              </div>
              <div class="transactions15">
                <div class="transactions-inner5">
                  <div class="frame-parent24">
                    <input class="frame-child67" type="radio" />

                    <div class="emilly-wrapper">
                      <a class="emilly">Emilly</a>
                    </div>
                  </div>
                </div>
                <div class="wrapper8">
                  <div class="div30">#12548796</div>
                </div>
                <div class="frame-parent25">
                  <div class="transfer-frame">
                    <div class="transfer3">Transfer</div>
                  </div>
                  <div class="wrapper9">
                    <div class="div31">1234 ****</div>
                  </div>
                  <div class="jan-1040-pm-wrapper">
                    <div class="jan-1040-pm2">14 Jan, 10.40 PM</div>
                  </div>
                  <div class="wrapper10">
                    <div class="div32">+$840</div>
                  </div>
                  <button class="download-parent2">
                    <div class="download4">Download</div>
                    <div class="frame-child68"></div>
                  </button>
                </div>
              </div>
            </div>
          </div>
          <div class="pagination">
            <img
              class="pagination-child"
              loading="lazy"
              alt=""
              src="./public/vector-2.svg"
            />

            <div class="page-numbers">
              <div class="page-number">
                <div class="previous">
                  <div class="previous-inner">
                    <img
                      class="frame-child69"
                      loading="lazy"
                      alt=""
                      src="./public/vector-2-1.svg"
                    />
                  </div>
                  <div class="previous-number">
                    <div class="previous1">Previous</div>
                  </div>
                  <div class="current-page">
                    <div class="current-page-display">
                      <div class="current-page-display-child"></div>
                      <div class="current-page-num">1</div>
                    </div>
                  </div>
                  <div class="previous-number1">
                    <div class="div33">2</div>
                  </div>
                </div>
                <div class="number">
                  <div class="number1">3</div>
                </div>
                <div class="number2">
                  <div class="div34">4</div>
                </div>
                <div class="number3">
                  <div class="next">Next</div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </main>
    </div>
  </body>
</html>

