body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --heading-four-semibold-20p: Inter;
  --font-lato: Lato;

  /* font sizes */
  --body-one-regular-16p-size: 16px;
  --button-2-medium-15p-size: 15px;
  --heading-two-semibold-22p-size: 22px;
  --heading-three-medium-18p-size: 18px;
  --font-size-xs: 12px;
  --heading-four-semibold-20p-size: 20px;
  --font-size-sm: 14px;
  --font-size-mid: 17px;
  --font-size-6xl: 25px;
  --heading-one-semibold-28p-size: 28px;
  --body-small-1-size: 13px;

  /* Colors */
  --color-white: #fff;
  --color-darkgreen-100: #2c7d2f;
  --color-darkgreen-200: #075b06;
  --color-gainsboro-100: #dfe5ee;
  --color-gainsboro-200: #e4e3e9;
  --color-gainsboro-300: #d9d9d9;
  --color-steelblue: #718ebf;
  --color-darkgray: #b1b1b1;
  --color-mistyrose: #ffe0eb;
  --color-lavender: #e7edff;
  --color-cornsilk: #fff5d9;
  --color-lightcyan: #dcfaf8;
  --color-gray-100: #232323;
  --color-gray-200: rgba(255, 255, 255, 0.7);
  --color-orange: #fcaa0b;
  --color-blue-100: #1a16f3;
  --color-blue-200: #1814f3;
  --color-palevioletred: #ff82ac;
  --color-royalblue: #4c78ff;
  --primary-2: #343c6a;
  --color-darkslateblue-100: #333b69;
  --color-darkslateblue-200: #123288;
  --color-aquamarine: #16dbaa;
  --color-indianred: #fe5c73;
  --color-aliceblue-100: #edf1f7;
  --color-aliceblue-200: #edf0f7;
  --color-aliceblue-300: #e6eff5;
  --color-aliceblue-400: #dfebf2;
  --color-aliceblue-500: #dfeaf2;
  --color-whitesmoke-100: #f5f7fa;
  --color-whitesmoke-600: #f4f5f7;
  --color-whitesmoke-200: #f2f4f7;
  --color-whitesmoke-300: #f3f3f5;
  --color-whitesmoke-400: #f1f2f6;
  --color-whitesmoke-500: #ebeef2;
  --color-lightsteelblue: #8ba3cb;
  --color-black: #000;
  --color-darkolivegreen-100: #185522;
  --color-darkolivegreen-400: #134a18;
  --color-darkolivegreen-500: #154411;
  --color-darkolivegreen-200: #0a4817;
  --color-darkolivegreen-600: #0a3915;
  --color-darkolivegreen-700: #09390a;
  --color-darkolivegreen-300: #042e08;
  --color-blueviolet: #4a47ff;
  --color-turquoise: #16dbcc;
  --color-seagreen-100: #4d8d47;
  --color-seagreen-300: #438a42;
  --color-seagreen-400: #458444;
  --color-seagreen-500: #40814a;
  --color-seagreen-600: #418140;
  --color-seagreen-200: #35793c;
  --color-forestgreen-200: #359645;
  --color-forestgreen-100: #2a8c34;
  --color-silver: #c5c5cf;
  --primary-3: #2d60ff;
  --color-mediumaquamarine: #41d4a8;
  --color-darkslategray: #0a2a05;

  /* Gaps */
  --gap-xl: 20px;
  --gap-11xl: 30px;
  --gap-3xl: 22px;
  --gap-43xl: 62px;
  --gap-18xl: 37px;
  --gap-6xs: 7px;
  --gap-2xl: 21px;
  --gap-20xl-1: 39.1px;
  --gap-12xl-2: 31.2px;
  --gap-10xs-9: 2.9px;
  --gap-10xl: 29px;
  --gap-xs: 12px;
  --gap-3xs: 10px;
  --gap-6xl: 25px;
  --gap-lg: 18px;
  --gap-17xl: 36px;
  --gap-12xl: 31px;
  --gap-mini: 15px;
  --gap-16xl: 35px;
  --gap-mid: 17px;
  --gap-7xl: 26px;
  --gap-23xl: 42px;
  --gap-19xl-9: 38.9px;
  --gap-2xs: 11px;
  --gap-31xl: 50px;
  --gap-15xl: 34px;
  --gap-sm: 14px;
  --gap-10xl-1: 29.1px;
  --gap-8xl: 27px;
  --gap-5xl: 24px;
  --gap-9xl: 28px;
  --gap-smi: 13px;
  --gap-5xs: 8px;
  --gap-37xl: 56px;
  --gap-4xs: 9px;
  --gap-13xl: 32px;
  --gap-base: 16px;
  --gap-26xl: 45px;
  --gap-4xs-4: 8.4px;
  --gap-12xs: 1px;
  --gap-48xl: 67px;
  --gap-14xl: 33px;
  --gap-8xs: 5px;
  --gap-7xs: 6px;
  --gap-20xl: 39px;
  --gap-4xs-1: 8.1px;
  --gap-60xl: 79px;
  --gap-lgi: 19px;

  /* Paddings */
  --padding-xl: 20px;
  --padding-12xs: 1px;
  --padding-9xl: 28px;
  --padding-12xl: 31px;
  --padding-11xl: 30px;
  --padding-6xl: 25px;
  --padding-5xs: 8px;
  --padding-lg: 18px;
  --padding-mid: 17px;
  --padding-5xl: 24px;
  --padding-7xl: 26px;
  --padding-11xs: 2px;
  --padding-8xl: 27px;
  --padding-6xs: 7px;
  --padding-9xs: 4px;
  --padding-mini: 15px;
  --padding-8xs: 5px;
  --padding-smi: 13px;
  --padding-xs: 12px;
  --padding-19xl: 38px;
  --padding-20xl: 39px;
  --padding-21xl: 40px;
  --padding-22xl: 41px;
  --padding-17xl: 36px;
  --padding-337xl: 356px;
  --padding-131xl: 150px;
  --padding-212xl: 231px;
  --padding-10xs: 3px;
  --padding-lgi: 19px;
  --padding-base: 16px;
  --padding-3xl: 22px;
  --padding-sm: 14px;
  --padding-7xs: 6px;
  --padding-16xl: 35px;
  --padding-4xl: 23px;
  --padding-30xl: 49px;
  --padding-2xl: 21px;
  --padding-10xl: 29px;
  --padding-4xs: 9px;
  --padding-2xs: 11px;
  --padding-3xs: 10px;
  --padding-18xl: 37px;
  --padding-8xs-1: 4.1px;
  --padding-6xs-2: 6.2px;
  --padding-15xl: 34px;
  --padding-924xl: 943px;
  --padding-33xl: 52px;
  --padding-sm-9: 13.9px;
  --padding-7xs-3: 5.3px;
  --padding-55xl: 74px;
  --padding-319xl: 338px;
  --padding-44xl: 63px;

  /* Border radiuses */
  --br-6xl: 25px;
  --br-xl: 20px;
  --br-3xs: 10px;
  --br-8xs: 5px;
  --br-21xl: 40px;
  --br-mini: 15px;
  --br-4xs: 9px;
  --br-31xl: 50px;
  --br-11xl: 30px;

  /* Effects */
  --shadow-1: 4px 4px 18px -2px rgba(231, 228, 232, 0.8);
}
