<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="./global.css" />
    <link rel="stylesheet" href="./loan.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap"
    />
  </head>
  <body>
    <form class="loan">
      <div class="loan-child"></div>
      <div class="loan-item"></div>
      <div class="content2">
        <div class="content-child"></div>
        <div class="content-inner">
          <div class="frame-child85"></div>
        </div>
        <div class="side-panel">
          <div class="loan-options-parent">
            <div class="loan-options">
              <img
                class="home-2-icon5"
                loading="lazy"
                alt=""
                src="./public/home-2.svg"
              />

              <img
                class="transfer-1-icon5"
                loading="lazy"
                alt=""
                src="./public/transfer-1.svg"
              />

              <img
                class="user-3-15"
                loading="lazy"
                alt=""
                src="./public/user-3-11.svg"
              />

              <img
                class="economic-investment-1-icon5"
                loading="lazy"
                alt=""
                src="./public/economicinvestment-1.svg"
              />

              <img
                class="credit-card-1-icon8"
                loading="lazy"
                alt=""
                src="./public/creditcard-1.svg"
              />

              <div class="option-labels">
                <img
                  class="loan-1-icon5"
                  loading="lazy"
                  alt=""
                  src="./public/loan-11.svg"
                />
              </div>
              <div class="option-labels1">
                <img
                  class="service-1-icon5"
                  loading="lazy"
                  alt=""
                  src="./public/service-1.svg"
                />
              </div>
              <div class="option-labels2">
                <img
                  class="econometrics-1-icon5"
                  loading="lazy"
                  alt=""
                  src="./public/econometrics-1.svg"
                />
              </div>
              <div class="option-labels3">
                <img
                  class="settings-solid-15"
                  loading="lazy"
                  alt=""
                  src="./public/settings-solid-1.svg"
                />
              </div>
            </div>
            <div class="dashboard6">
              <div class="dashboard-items">
                <a class="dashboard7">Dashboard</a>
                <div class="transactions19">Transactions</div>
                <a class="accounts7">Accounts</a>
                <div class="investments7">Investments</div>
                <div class="credit-cards7">Credit Cards</div>
                <div class="loans5">Loans</div>
                <a class="services5">Services</a>
                <div class="my-privileges5">My Privileges</div>
                <a class="setting5">Setting</a>
              </div>
            </div>
          </div>
        </div>
        <div class="content-divider"></div>
      </div>
      <div class="header4">
        <div class="header-child2"></div>
        <div class="header-content">
          <div class="bank-name2">
            <img
              class="banque-de-lagriculture-et-du-icon5"
              loading="lazy"
              alt=""
              src="./public/banque-de-lagriculture-et-du-dveloppement-ruralsvg-11@2x.png"
            />

            <div class="badr-bank-container">
              <a class="badr-bank6">Badr Bank</a>
            </div>
          </div>
        </div>
        <header class="loan-header">
          <div class="loan-title">
            <a class="loans6">Loans</a>
          </div>
          <div class="loan-search">
            <div class="search-bar1">
              <button class="rectangle-parent58">
                <div class="frame-child86"></div>
                <img
                  class="magnifying-glass-1-icon5"
                  alt=""
                  src="./public/magnifyingglass-12.svg"
                />

                <div class="search-placeholder2">
                  <a class="search-for-something5">Search for something</a>
                </div>
              </button>
            </div>
            <div class="search-icons">
              <img
                class="search-icons-child"
                loading="lazy"
                alt=""
                src="./public/group-42.svg"
              />
            </div>
            <div class="search-icons1">
              <img
                class="search-icons-item"
                loading="lazy"
                alt=""
                src="./public/group-33.svg"
              />
            </div>
            <img
              class="mask-group-icon8"
              loading="lazy"
              alt=""
              src="./public/mask-group2@2x.png"
            />
          </div>
        </header>
      </div>
      <main class="loan-types">
        <section class="loan-type-options">
          <div class="loan-type-options-child"></div>
          <div class="loan-buttons">
            <div class="rectangle-parent59">
              <div class="frame-child87"></div>
              <img
                class="frame-child88"
                loading="lazy"
                alt=""
                src="./public/group-299.svg"
              />

              <div class="loan-type-names">
                <div class="loan-name-labels">
                  <div class="personal-loans">Personal Loans</div>
                  <div class="loan-type-icons">$50,000</div>
                </div>
              </div>
            </div>
            <div class="rectangle-parent60">
              <div class="frame-child89"></div>
              <img class="frame-child90" alt="" src="./public/group-290.svg" />

              <div class="frame-wrapper17">
                <div class="corporate-loans-parent">
                  <div class="corporate-loans">Corporate Loans</div>
                  <div class="div44">$100,000</div>
                </div>
              </div>
            </div>
            <div class="rectangle-parent61">
              <div class="frame-child91"></div>
              <img class="frame-child92" alt="" src="./public/group-293.svg" />

              <div class="frame-wrapper18">
                <div class="business-loans-parent">
                  <div class="business-loans">Business Loans</div>
                  <div class="div45">$500,000</div>
                </div>
              </div>
            </div>
            <div class="rectangle-parent62">
              <div class="frame-child93"></div>
              <img
                class="frame-child94"
                loading="lazy"
                alt=""
                src="./public/group-296.svg"
              />

              <div class="frame-wrapper19">
                <div class="custom-loans-parent">
                  <div class="custom-loans">Custom Loans</div>
                  <div class="choose-money">Choose Money</div>
                </div>
              </div>
            </div>
          </div>
          <div class="loan-overview">
            <h3 class="active-loans-overview">Active Loans Overview</h3>
            <div class="rectangle-parent63">
              <div class="frame-child95"></div>
              <div class="loan-table">
                <div class="sl-no1">SL No</div>
                <div class="table-header">
                  <div class="loan-money">Loan Money</div>
                </div>
                <div class="table-header1">
                  <div class="left-to-repay">Left to repay</div>
                </div>
                <div class="table-header2">
                  <div class="duration">Duration</div>
                </div>
                <div class="interest-rate">Interest rate</div>
                <div class="table-header3">
                  <div class="installment">Installment</div>
                </div>
                <div class="repay">Repay</div>
              </div>
              <div class="chart-elements">
                <div class="chart-bars6"></div>
              </div>
              <div class="chart-elements1">
                <div class="month-labels-top">
                  <div class="bar-values">01.</div>
                </div>
                <div class="month-labels-top1">
                  <div class="month-values-top">$100,000</div>
                </div>
                <div class="month-labels-bottom">
                  <div class="month-values-bottom">$40,500</div>
                </div>
                <div class="chart-label">
                  <div class="months5">8 Months</div>
                </div>
                <div class="month-spacing">
                  <div class="spacing-values">12%</div>
                </div>
                <div class="month-name">
                  <div class="month">$2,000 / month</div>
                </div>
                <button class="repay-parent">
                  <div class="repay1">Repay</div>
                  <div class="frame-child96"></div>
                </button>
              </div>
              <div class="chart-elements2">
                <div class="chart-elements-child"></div>
              </div>
              <div class="chart-elements3">
                <div class="wrapper13">
                  <div class="div46">02.</div>
                </div>
                <div class="wrapper14">
                  <div class="div47">$500,000</div>
                </div>
                <div class="wrapper15">
                  <div class="div48">$250,000</div>
                </div>
                <div class="months-wrapper">
                  <div class="months6">36 Months</div>
                </div>
                <div class="wrapper16">
                  <div class="div49">10%</div>
                </div>
                <div class="month-wrapper">
                  <div class="month1">$8,000 / month</div>
                </div>
                <button class="repay-group">
                  <div class="repay2">Repay</div>
                  <div class="frame-child97"></div>
                </button>
              </div>
              <div class="chart-elements4">
                <div class="chart-elements-item"></div>
              </div>
              <div class="chart-elements5">
                <div class="wrapper17">
                  <div class="div50">03.</div>
                </div>
                <div class="wrapper18">
                  <div class="div51">$900,000</div>
                </div>
                <div class="wrapper19">
                  <div class="div52">$40,500</div>
                </div>
                <div class="months-container">
                  <div class="months7">12 Months</div>
                </div>
                <div class="wrapper20">
                  <div class="div53">12%</div>
                </div>
                <div class="month-container">
                  <div class="month2">$5,000 / month</div>
                </div>
                <button class="repay-container">
                  <div class="repay3">Repay</div>
                  <div class="frame-child98"></div>
                </button>
              </div>
              <div class="chart-elements6">
                <div class="chart-elements-inner"></div>
              </div>
              <div class="chart-elements7">
                <div class="wrapper21">
                  <div class="div54">04.</div>
                </div>
                <div class="wrapper22">
                  <div class="div55">$50,000</div>
                </div>
                <div class="wrapper23">
                  <div class="div56">$40,500</div>
                </div>
                <div class="months-frame">
                  <div class="months8">25 Months</div>
                </div>
                <div class="wrapper24">
                  <div class="div57">5%</div>
                </div>
                <div class="month-frame">
                  <div class="month3">$2,000 / month</div>
                </div>
                <button class="repay-parent1">
                  <div class="repay4">Repay</div>
                  <div class="frame-child99"></div>
                </button>
              </div>
              <div class="chart-elements8">
                <div class="chart-elements-child1"></div>
              </div>
              <div class="chart-elements9">
                <div class="wrapper25">
                  <div class="div58">05.</div>
                </div>
                <div class="wrapper26">
                  <div class="div59">$50,000</div>
                </div>
                <div class="wrapper27">
                  <div class="div60">$40,500</div>
                </div>
                <div class="months-wrapper1">
                  <div class="months9">5 Months</div>
                </div>
                <div class="wrapper28">
                  <div class="div61">16%</div>
                </div>
                <div class="month-wrapper1">
                  <div class="month4">$10,000 / month</div>
                </div>
                <button class="repay-parent2">
                  <div class="repay5">Repay</div>
                  <div class="frame-child100"></div>
                </button>
              </div>
              <div class="chart-elements10">
                <div class="chart-elements-child2"></div>
              </div>
              <div class="chart-elements11">
                <div class="wrapper29">
                  <div class="div62">06.</div>
                </div>
                <div class="wrapper30">
                  <div class="div63">$80,000</div>
                </div>
                <div class="wrapper31">
                  <div class="div64">$25,500</div>
                </div>
                <div class="months-wrapper2">
                  <div class="months10">14 Months</div>
                </div>
                <div class="wrapper32">
                  <div class="div65">8%</div>
                </div>
                <div class="month-wrapper2">
                  <div class="month5">$2,000 / month</div>
                </div>
                <button class="repay-parent3">
                  <div class="repay6">Repay</div>
                  <div class="frame-child101"></div>
                </button>
              </div>
              <div class="chart-elements12">
                <div class="chart-elements-child3"></div>
              </div>
              <div class="chart-elements13">
                <div class="wrapper33">
                  <div class="div66">07.</div>
                </div>
                <div class="wrapper34">
                  <div class="div67">$12,000</div>
                </div>
                <div class="wrapper35">
                  <div class="div68">$5,500</div>
                </div>
                <div class="months-wrapper3">
                  <div class="months11">9 Months</div>
                </div>
                <div class="wrapper36">
                  <div class="div69">13%</div>
                </div>
                <div class="month-wrapper3">
                  <div class="month6">$500 / month</div>
                </div>
                <button class="repay-parent4">
                  <div class="repay7">Repay</div>
                  <div class="frame-child102"></div>
                </button>
              </div>
              <div class="chart-elements14">
                <div class="chart-elements-child4"></div>
              </div>
              <div class="chart-elements15">
                <div class="wrapper37">
                  <div class="div70">08.</div>
                </div>
                <div class="wrapper38">
                  <div class="div71">$160,000</div>
                </div>
                <div class="wrapper39">
                  <div class="div72">$100,800</div>
                </div>
                <div class="months-wrapper4">
                  <div class="months12">3 Months</div>
                </div>
                <div class="wrapper40">
                  <div class="div73">12%</div>
                </div>
                <div class="month-wrapper4">
                  <div class="month7">$900 / month</div>
                </div>
                <button class="repay-parent5">
                  <div class="repay8">Repay</div>
                  <div class="frame-child103"></div>
                </button>
              </div>
              <div class="table-divider"></div>
              <div class="loan-total">
                <div class="total-label">
                  <div class="total">Total</div>
                  <div class="total-value">
                    <div class="div74">$125,0000</div>
                  </div>
                  <div class="div75">$750,000</div>
                </div>
                <div class="month8">$50,000 / month</div>
              </div>
            </div>
          </div>
        </section>
      </main>
    </form>
  </body>
</html>
