<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="./global.css" />
    <link rel="stylesheet" href="./setting-page-1.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap"
    />
  </head>
  <body>
    <div class="setting-page-1">
      <div class="content3"></div>
      <header class="header5">
        <div class="header-child3"></div>
        <div class="header-child4"></div>
        <div class="header-inner1">
          <div class="banque-de-lagriculture-et-du-parent">
            <img
              class="banque-de-lagriculture-et-du-icon6"
              loading="lazy"
              alt=""
              src="./public/banque-de-lagriculture-et-du-dveloppement-ruralsvg-11@2x.png"
            />

            <div class="badr-bank-frame">
              <a class="badr-bank7">Badr Bank</a>
            </div>
          </div>
        </div>
        <div class="frame-parent27">
          <div class="setting-wrapper">
            <a class="setting6">Setting</a>
          </div>
          <div class="search-bar2">
            <div class="logo-container1">
              <div class="rectangle-parent64">
                <div class="frame-child104"></div>
                <img
                  class="magnifying-glass-1-icon6"
                  alt=""
                  src="./public/magnifyingglass-1.svg"
                />

                <div class="search-for-something-container">
                  <a class="search-for-something6">Search for something</a>
                </div>
              </div>
            </div>
            <div class="search-bar-inner">
              <img
                class="frame-child105"
                loading="lazy"
                alt=""
                src="./public/group-4.svg"
              />
            </div>
            <div class="search-bar-child">
              <img
                class="frame-child106"
                loading="lazy"
                alt=""
                src="./public/group-3.svg"
              />
            </div>
            <img
              class="mask-group-icon9"
              loading="lazy"
              alt=""
              src="./public/mask-group@2x.png"
            />
          </div>
        </div>
      </header>
      <main class="navbar">
        <div class="navbar-background-parent">
          <div class="navbar-background"></div>
          <div class="frame-wrapper20">
            <div class="menu-icons-parent">
              <div class="menu-icons7">
                <img
                  class="home-2-icon6"
                  loading="lazy"
                  alt=""
                  src="./public/home-2.svg"
                />

                <img
                  class="transfer-1-icon6"
                  loading="lazy"
                  alt=""
                  src="./public/transfer-1.svg"
                />

                <img
                  class="user-3-16"
                  loading="lazy"
                  alt=""
                  src="./public/user-3-11.svg"
                />

                <img
                  class="economic-investment-1-icon6"
                  loading="lazy"
                  alt=""
                  src="./public/economicinvestment-1.svg"
                />

                <img
                  class="credit-card-1-icon9"
                  loading="lazy"
                  alt=""
                  src="./public/creditcard-1.svg"
                />

                <div class="financial-goals-title">
                  <img
                    class="loan-1-icon6"
                    loading="lazy"
                    alt=""
                    src="./public/loan-1.svg"
                  />
                </div>
                <div class="redeem-button">
                  <img
                    class="service-1-icon6"
                    loading="lazy"
                    alt=""
                    src="./public/service-1.svg"
                  />
                </div>
                <div class="calculator-button">
                  <img
                    class="econometrics-1-icon6"
                    loading="lazy"
                    alt=""
                    src="./public/econometrics-1.svg"
                  />
                </div>
                <div class="profile-name-button">
                  <img
                    class="settings-solid-16"
                    loading="lazy"
                    alt=""
                    src="./public/settings-solid-11.svg"
                  />
                </div>
              </div>
              <div class="rewards-header">
                <div class="page-title1">
                  <a class="dashboard8">Dashboard</a>
                  <div class="transactions20">Transactions</div>
                  <a class="accounts8">Accounts</a>
                  <div class="investments8">Investments</div>
                  <div class="credit-cards8">Credit Cards</div>
                  <div class="loans7">Loans</div>
                  <a class="services6">Services</a>
                  <div class="my-privileges6">My Privileges</div>
                  <a class="setting7">Setting</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <section class="profile-background-parent">
          <footer class="profile-background"></footer>
          <div class="rectangle-parent65">
            <div class="frame-child107"></div>
            <div class="frame-child108"></div>
            <div class="frame-parent28">
              <div class="edit-options-wrapper">
                <div class="edit-options">
                  <div class="edit-profile">Edit Profile</div>
                  <a class="preferences">Preferences</a>
                  <a class="security">Security</a>
                </div>
              </div>
              <div class="frame-child109"></div>
            </div>
            <div class="frame-child110"></div>
            <div class="profile-details">
              <div class="profile-details-inner">
                <img
                  class="frame-child111"
                  loading="lazy"
                  alt=""
                  src="./public/group-206@2x.png"
                />
              </div>
              <form class="personal-info">
                <div class="personal-info-fields">
                  <div class="personal-info-field-labels">
                    <div class="your-name">Your Name</div>
                    <div class="rectangle-parent66">
                      <div class="frame-child112"></div>
                      <input
                        class="charlene-reed"
                        placeholder="Charlene Reed "
                        type="text"
                      />
                    </div>
                  </div>
                  <div class="edit-profile-button">
                    <a class="email">Email</a>
                    <div class="rectangle-parent67">
                      <div class="frame-child113"></div>
                      <input
                        class="charlenereedgmailcom"
                        placeholder="charlenereed@gmail.com "
                        type="text"
                      />
                    </div>
                  </div>
                  <div class="personal-info-field-labels1">
                    <div class="date-of-birth">Date of Birth</div>
                    <div class="rectangle-parent68">
                      <div class="frame-child114"></div>
                      <div class="january-1990">25 January 1990</div>
                      <div class="name-icon-wrapper">
                        <img
                          class="name-icon"
                          alt=""
                          src="./public/calendar.svg"
                        />
                      </div>
                    </div>
                  </div>
                  <div class="personal-info-field-labels2">
                    <div class="permanent-address">Permanent Address</div>
                    <div class="rectangle-parent69">
                      <div class="frame-child115"></div>
                      <input
                        class="san-jose-california"
                        placeholder="San Jose, California, USA"
                        type="text"
                      />
                    </div>
                  </div>
                  <div class="personal-info-field-labels3">
                    <div class="postal-code">Postal Code</div>
                    <div class="rectangle-parent70">
                      <div class="frame-child116"></div>
                      <input class="input" placeholder="45962" type="text" />
                    </div>
                  </div>
                </div>
                <div class="account-info-fields">
                  <div class="account-info-field-labels">
                    <a class="user-name">User Name</a>
                    <div class="rectangle-parent71">
                      <div class="frame-child117"></div>
                      <input
                        class="charlene-reed1"
                        placeholder="Charlene Reed "
                        type="text"
                      />
                    </div>
                  </div>
                  <div class="account-info-field-labels1">
                    <div class="password">Password</div>
                    <div class="rectangle-parent72">
                      <div class="frame-child118"></div>
                      <input
                        class="input1"
                        placeholder="**********"
                        type="text"
                      />
                    </div>
                  </div>
                  <div class="account-info-field-labels2">
                    <div class="present-address">Present Address</div>
                    <div class="rectangle-parent73">
                      <div class="frame-child119"></div>
                      <input
                        class="san-jose-california1"
                        placeholder="San Jose, California, USA"
                        type="text"
                      />
                    </div>
                  </div>
                  <div class="account-info-field-labels3">
                    <div class="city">City</div>
                    <div class="rectangle-parent74">
                      <div class="frame-child120"></div>
                      <input
                        class="san-jose"
                        placeholder="San Jose"
                        type="text"
                      />
                    </div>
                  </div>
                  <div class="account-info-field-labels4">
                    <div class="country">Country</div>
                    <div class="rectangle-parent75">
                      <div class="frame-child121"></div>
                      <input class="usa" placeholder="USA" type="text" />
                    </div>
                  </div>
                  <button class="rectangle-parent76">
                    <div class="frame-child122"></div>
                    <div class="save">Save</div>
                  </button>
                </div>
              </form>
            </div>
          </div>
        </section>
      </main>
      <div class="separator4"></div>
    </div>
  </body>
</html>
